.contact-form
  &__input-group
    display flex
    margin-bottom rem(12px)
  &__input
  &__textarea
    input()
    border-radius 3px
    transition all 0.3s ease
    &:hover
    &:focus
      border 1px solid secondary-color
  &__input
    width rem(72px) // ???
    flex-grow 1
  &__tip
    position relative
    flex-shrink 0
    width rem(72px)
    margin-left rem(7px)
    padding rem(4px) rem(8px)
    border-radius rem(5px)
    text-align center
    &:after
      content ""
      position absolute
      top 50%
      left 0
      width rem(5px)
      height rem(5px)
      display inline-block
      transform  translate(-50%, -50%) rotate(45deg)
    &_with-error
    &_with-error:after
      background primary-color
    &_with-success
    &_with-success:after
      background secondary-color
    &-text
      font-size rem(10px)
      letter-spacing rem(0.5px)
      text-transform uppercase
      color #fff
      break-word()
  &__textarea
    width 100%
    min-height rem(88px)
    margin-bottom rem(7px)
    padding rem(10px) rem(12px)
  &__left-button-container
    text-align left
  &__button-container
    text-align right
