.contact-form
  text-align right
  &_align_left
    text-align left
  &__input-group
    display flex
    margin-bottom rem(12px)
  &__input
  &__textarea
    input()
  &__input
    width rem(72px) // ???
    flex-grow 1
  &__tip
    position relative
    flex-shrink 0
    width rem(72px)
    margin-left rem(7px)
    padding rem(4px) rem(8px)
    border-radius rem(5px)
    text-align center
    background primary-color
    &:after
      content ""
      position absolute
      top 50%
      left 0
      width rem(5px)
      height rem(5px)
      display inline-block
      transform  translate(-50%, -50%) rotate(45deg)
      background primary-color
    &_bg_secondary
      background secondary-color
      &:after
        background secondary-color
    &-text
      font-size rem(10px)
      font-weight 400
      letter-spacing rem(0.5px)
      text-transform uppercase
      color #fff
      break-word()
  &__textarea
    width 100%
    min-height rem(88px)
    margin-bottom rem(7px)
    padding rem(11px) rem(12px)
