mixin dropdown(options, placeholder)
  .dropdown__container
    select.dropdown(name="state", data-placeholder=placeholder)
      option.dropdown__option_hidden
      each val, index in options
        option.dropdown__option_hidden(value=index)= val
