.dropdown
  width 100%
  font-family Source Sans Pro
  &__container
    .select2-selection--single
      input()
      padding rem(6px) rem(25px) rem(6px) rem(12px)
      border-radius rem(3px)
      .select2-selection__rendered
        color dark-grey-text
        line-height 1.2
        padding-left 0
      .select2-selection__placeholder
        line-height 1
      .select2-selection__arrow
        top 0
        right 0
        bottom 0
        height auto
        width rem(33px)
        border-radius 0 rem(3px) rem(3px) 0
        background secondary-color url("images/dropdown-arrow.svg") no-repeat center
        background-size 45%
        b
          display none
  &__option
    padding rem(6px) 0
    border none
    border-radius rem(3px)
    background secondary-color
    color #ffffff
    font-family Source Sans Pro

.select2-results__option
  padding rem(6px) rem(12px)

.select2-container--default .select2-results__option[aria-selected=true]
  background-color lightness(secondary-color, 65%)

.select2-container--default .select2-results__option--highlighted[aria-selected]
  background-color lightness(secondary-color, 65%)
