mixin percentage(progress)
  .percentage
    span.percentage__value= progress
    svg(class="percentage__svg" viewBox="0 0 193 193")
      circle(class="percentage__bar" r="90" cx="96" cy="95" fill="transparent")
