mixin player
    .player__wrapper
        video.player(src='http://viktoriya-chernenko.tk/video/Landscapes-Volume-Two.mp4', width='100%', preload="none" )
        .player__header
            .player__title New Zealand Landscapes Timelapse
            .player__author from Bevan Percival
        .player__footer
            .player__play-button
            .player__progress
                .player__progress--full
            .player__full-button