include ../percentage/percentage
include ../pie-chart/pie-chart

mixin uiKitPercentagesAndCharts
  section.ui-kit-percentages-and-charts
    .ui-kit-percentages-and-charts__title-container
      +subheading('PERCENTAGES / PIE CHART')
    .ui-kit-percentages-and-charts__container
      +percentage(0)
      +percentage(38)
      +percentage(62)
      +percentage(89)
      +pieChart('30, 85, 100, 100')



