mixin toggle(inputId)
    label.toggle(for=inputId)
        input.toggle__input(type='checkbox', id=inputId)
        .toggle__switch
            .toggle__switch--text on
            .toggle__switch--round
            .toggle__switch--text off