.sliders-block__container
  margin-top: 23px
  .subheading
    margin-bottom: 36px

.sliders
  &__container
    display: flex
  &__col
    width: 50%
    //flex-shrink 0
    &:first-child
      margin-right: 35px
    &:last-child
      margin-left: 35px