mixin dropdown(options, placeholder)
  .dropdown
    select.dropdown__select.js-dropdown__select(name="state", data-placeholder=placeholder)
      option.dropdown__native-option
      each text, value in options
        option.dropdown__native-option(value=value)= text
