include percentage/percentage
include pie-chart/pie-chart

mixin percentagesAndCharts
    +subheading('PERCENTAGES / PIE CHART')
    +percentage(0)
    +percentage(38)
    +percentage(62)
    +percentage(89)
    +pieChart



