.percentages-and-charts
  &__title-container
    margin: 34px 0 15px
  &__container
    display: flex
    flex-wrap: wrap
    justify-content space-between
    margin: 0 7px
    +xs()
      justify-content: center
    .percentage
      width: 16.32%
      +xs()
        width: 27%
        margin: 20px 3%
      +xxs()
        width: 60%
        margin: 20px 0
    .pie-chart
      flex-shrink: 0
      width: 16.32%
      +xs()
        width: 27%
        margin: 20px 3%
      +xxs()
        width: 60%
        margin: 20px 0
