include arrow-button/arrow-button

mixin arrowButtons
    section.arrow-buttons
        .arrow-buttons__title-container
            +subheading('ARROW BUTTONS')
        .arrow-buttons__buttons-container
            +arrowButton('transparent-secondary', 'left-secondary')
            +arrowButton('transparent-secondary', 'right-secondary')
            +arrowButton('transparent-secondary', 'left-secondary', true)
            +arrowButton('transparent-secondary', 'right-secondary', true)
            +arrowButton('transparent-secondary', 'left-secondary')
            +arrowButton('transparent-secondary', 'right-secondary')