.form-elements__container .subheading
  margin: 43px 0 39px

.form-elements__container
  display: flex
  flex-wrap wrap
.form-elements__col
  flex-shrink 0
  width: 50%
  min-height: 20px
  .subheading
    margin: 0 0 34px
    line-height: 0.8
  &:nth-child(2)
    padding-right: 10px
  &:last-child
    padding-left: 11px
    .toggle
      margin: 0 6px
    //background lightcoral