.form-elements__container .subheading
  margin: 42px 0 39px

.form-elements__container
  display: flex
  flex-wrap wrap
.form-elements__col
  flex-shrink 0
  width: 50%
  .subheading
    margin: 0 0 34px
    line-height: 0.8
    &:nth-child(4)
      margin: 38px 0 35px
  &:nth-child(2)
    padding-right: 1.68%
  &:last-child
    padding-left: 1.68%
    .toggle
      margin: 0 2.05%
    .tick-box
      margin: 0 3.5%
  +xxs()
    width: 100%
    &:nth-child(2)
      padding-right: 0
    &:last-child
      padding-left: 0
