include contact-from/contact-form
include toggle/toggle
include ../subheading/subheading
include tick-box/tick-box

mixin form-elements
    section.form-elements
        .form-elements__title-container
            +subheading('FORM ELEMENTS')
        .form-elements__container
            .form-elements__col
                +contact-form
            .form-elements__col
                +subheading('TOGGLES')
                +toggle('toggle-1')
                +toggle('toggle-2', true)
                +subheading('TICK BOXES')
                +tickBox(true)
                +tickBox