@import "../../styles/variables.styl"

.ui-kit
  max-width 616px
  margin 0 auto
  padding rem(60px) rem(10px)
  &__standart-buttons-title-container
    margin-bottom rem(60px)
  &__standart-buttons-container
    display flex
    flex-wrap wrap
    justify-content center
    align-items flex-end
    +xs()
      max-width 380px
      margin 0 auto
      &:nth-child(1)
        .ui-kit__button-container
          &:nth-child(4)
            order 2
          &:nth-child(2)
            order 3
          &:nth-child(5)
            order 4
    +xxs()
      max-width 200px
    &:nth-child(4) .ui-kit__button-container
      margin-bottom 0
      +xs()
        margin-bottom rem(19px)
  &__button-container
    margin 0 rem(12px) rem(19px)
    +xs()
      &:nth-child(1)
        order 2
      &:nth-child(4)
        order 3
  &__arrow-buttons-title-container
    margin rem(43px) 0 rem(25px)
  &__arrow-buttons-container
    display flex
    flex-wrap wrap
    justify-content center
    +xxs()
      max-width 310px
      margin 0 auto
  &__arrow-button-container
    margin 0 2%
    +xxs()
      margin 0 2% rem(15px)
      &:nth-child(3)
        order 5
      &:nth-child(4)
        order 6
  &__percentages-title-container
    margin rem(34px) 0 rem(15px)
  &__percentages-container
    display flex
    flex-wrap wrap
    justify-content space-between
    margin 0 rem(7px)
    +xs()
      justify-content center
  &__percentage-container
    width 16.32%
    +xs()
      width 27%
      margin rem(20px) 3%
    +xxs()
      width 60%
      margin rem(20px) 0
  &__sliders-title-container
    margin rem(24px) 0 rem(36px)
  &__sliders-container
    display flex
    flex-wrap wrap
  &__sliders-col
    width 50%
    flex-shrink 0
    &:first-child
      padding-right 6%
    &:last-child
      padding-left 6%
    +xs()
      width 100%
      &:first-child
        margin-bottom rem(40px)
        padding-right 0
      &:last-child
        padding-left 0
  &__stages-title-container
    margin rem(27px) 0 rem(16px)
  &__form-elements-title-container
    margin rem(42px) 0 rem(25px)
  &__form-elements-container
    display flex
    flex-wrap wrap
    text-align center
  &__form-elements-col
    flex-shrink 0
    width 50%
    &:first-child
      padding-right 1.68%
    &:last-child
      padding-left 1.68%
    +xxs()
      width 100%
      &:first-child
      &:last-child
        padding 0
      .contact-form
        margin-bottom rem(39px)
  &__form-container
    margin-top rem(15px)
  &__form-elements-subtitle-container
    margin 0 0 rem(20px)
    line-height 0.8
    &:nth-child(4)
      margin rem(25px) 0 rem(21px)
  &__toggle-container
    display inline-block
    margin 0 2.05%
  &__tick-box-container
    display inline-block
    margin 0 3.5%
  &__search
    display flex
    flex-wrap wrap
    &-col
      flex-shrink 0
      width 50%
      &:first-child
        padding-right 1.68%
      &:last-child
        padding-left 1.68%
        .ui-kit__search-title-container
          margin-bottom rem(18px)
      +xs()
        width 100%
        &:first-child,
        &:last-child
          padding 0
  &__search-title-container
    margin rem(54px) 0 rem(10px)
  &__search-container
    margin-bottom rem(16px)
  &__user-container
    margin 0 0 rem(27px) 6.5%
    +xs()
      margin-left 0
    .user
      margin 0 auto
  &__news-title-container
    margin rem(55px) 0 rem(23px)
  &__news-container
    display flex
    flex-wrap wrap
  &__news-col
    flex-shrink 0
    width 50%
    &:first-child
      padding-right 1.75%
    &:last-child
      padding-left 1.75%
    +xs()
      width 100%
      &:first-child
        margin-bottom rem(40px)
      &:first-child
      &:last-child
        padding 0
    .news
      height 100%
  &__location-title-container
    margin rem(37px) 0 rem(20px)
  &__calendar
    display flex
    flex-wrap wrap
    &-col
      width 50%
      flex-shrink 0
      &:first-child
        padding-right rem(18px)
      &:last-child
        padding-left rem(8px)
      +xs()
        width 100%
        max-width 400px
        margin 0 auto
        &:first-child
        &:last-child
          padding 0
  &__calendar-title-container
    margin rem(41px) 0 rem(14px)
  &__video-title-container
    margin rem(42px) 0 rem(13px)
