include ../../components/title/title
include ../../components/button/button
include ../../components/arrow-button/arrow-button
include ../../components/chart/chart
include ../../components/slider/slider
include ../../components/stage/stage
include ../../components/input/input
include ../../components/textarea/textarea
include ../../components/toggle/toggle
include ../../components/tick-box/tick-box
include ../../components/search/search
include ../../components/dropdown/dropdown
include ../../components/user/user
include ../../components/news/news
include ../../components/map/map
include ../../components/calendar/calendar
include ../../components/messaging/messaging
include ../../components/player/player

doctype html
html
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  meta(name="keywords", content="ui-kit")
  meta(name="description", content="Ui-kit for developing web interfaces")
  meta(name="msapplication-TileColor" content="#9f00a7")
  meta(name="theme-color" content="#ffffff")
  title FlatUI
  link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
  link(rel="manifest" href="site.webmanifest")
  link(rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5")
  body
    .body-wrapper
      main.ui-kit
        section.ui-kit__standart-buttons
          .ui-kit__standart-buttons-title
            +title({ title: "standard buttons", tag: "h1" })
          .ui-kit__standart-buttons-row
            .ui-kit__button
              +button({
                text: "button",
                size: "small",
                background: "transparent-secondary"
              })
            .ui-kit__button
              +button({
                text: "button",
                background: "transparent-secondary"
              })
            .ui-kit__button
              +button({
                text: "button",
                background: "transparent-primary"
              })
            .ui-kit__button
              +button({
                text: "button",
                size: "small",
                background: "transparent-primary"
              })
          .ui-kit__standart-buttons-row
            .ui-kit__button
              +button({
                text: "button",
                size: "small",
                background: "transparent-secondary"
              })
            .ui-kit__button
              +button({
                text: "button",
                background: "transparent-secondary"
              })
            .ui-kit__button
              +button({
                text: "button",
                background: "transparent-primary"
              })
            .ui-kit__button
              +button({
                text: "button",
                size: "small",
                background: "transparent-primary"
              })
          .ui-kit__standart-buttons-row
            .ui-kit__button
              +button({
                text: "button",
                size: "small",
                background: "transparent-secondary"
              })
            .ui-kit__button
              +button({
                text: "button",
                background: "transparent-secondary"
              })
            .ui-kit__button
              +button({
                text: "button",
                background: "transparent-primary"
              })
            .ui-kit__button
              +button({
                text: "button",
                size: "small",
                background: "transparent-primary"
              })
        section.ui-kit__arrow-buttons
          .ui-kit__arrow-buttons-title
            +title({ title: "arrow buttons", tag: "h1" })
          .ui-kit__arrow-buttons-content
            .ui-kit__arrow-button
              +arrow-button({background: "transparent", direction: "left"})
            .ui-kit__arrow-button
              +arrow-button({background: "transparent", direction: "right"})
            .ui-kit__arrow-button
              +arrow-button({
                background: "transparent",
                direction: "left",
                isDisabled: true
              })
            .ui-kit__arrow-button
              +arrow-button({
                background: "transparent",
                direction: "right",
                isDisabled: true
              })
            .ui-kit__arrow-button
              +arrow-button({background: "transparent", direction: "left"})
            .ui-kit__arrow-button
              +arrow-button({background: "transparent", direction: "right"})
        section.ui-kit__percentages
          .ui-kit__percentages-title
            +title({ title: "percentages / pie chart", tag: "h1" })
          .ui-kit__percentages-content
            .ui-kit__percentage
              +chart({type: "percentage", value: 0})
            .ui-kit__percentage
              +chart({type: "percentage", value: 38})
            .ui-kit__percentage
              +chart({type: "percentage", value: 62})
            .ui-kit__percentage
              +chart({type: "percentage", value: 89})
            .ui-kit__percentage
              +chart({type: "pie-chart", series: "10, 27, 30, 33"})
        section.ui-kit__sliders
          .ui-kit__sliders-title
            +title({ title: "sliders", tag: "h1" })
          .ui-kit__sliders-row
            .ui-kit__sliders-col
              +slider({isTip: true, currentValue: "36"})
            .ui-kit__sliders-col
              +slider({isScale: true, progressBackground: "secondary", currentValue: "75", step: "25"})
        section.ui-kit__stages
          .ui-kit__stages-title
            +title({title: "stages"})
          +stage({length: 5, fullLength: 3})
        section.ui-kit__form-elements
          .ui-kit__form-elements-title
            +title({ title: "form elements", tag: "h1" })
          .ui-kit__form-elements-row
            .ui-kit__form-elements-col
              form.ui-kit__form(
                action="mock-address/change-me",
                method="post"
              )
                .ui-kit__text-input
                  +input({
                    type: "text",
                    name: "name",
                    placeholder: "Your Name",
                    pattern: "[A-Za-zА-Яа-яЁё\\s]{1,}"
                  })
                .ui-kit__text-input
                  +input({
                    type: "email",
                    name: "email",
                    placeholder: "Your Email",
                    pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                  })
                .ui-kit__message-textarea
                  +textarea({ name: "message", placeholder: "Your Message" })
                .ui-kit__submit-button
                  +button({
                    text: "submit",
                    background: "secondary-with-shadow",
                    type: "submit"
                  })

            .ui-kit__form-elements-col
              .ui-kit__form-elements-subtitle
                +title({title: "toggles"})
              .ui-kit__toggle
                +toggle
              .ui-kit__toggle
                +toggle({isChecked: true})
              .ui-kit__form-elements-subtitle
                +title({ title: "tick boxes", tag: "h1" })
              .ui-kit__tick-box
                +tick-box(true)
              .ui-kit__tick-box
                +tick-box
        section.ui-kit__search-and-user
          .ui-kit__search-and-user-col
            .ui-kit__search-title
              +title({ title: "search / drop down", tag: "h1" })
            .ui-kit__search
              +search({placeholderText: "Search"})
            .ui-kit__search
              +search({
                placeholderText: "I’ve not found what I’m looking for...",
                searchBackground: "primary"
              })
            +dropdown({
              "1": "This is option 1",
              "2": "This is option 2",
              "3": "This is option 3",
              "4": "This is option 4"
            },
            "Choose An Option")
          .ui-kit__search-and-user-col
            .ui-kit__search-title
              +title({ title: "user profile", tag: "h1" })
            .ui-kit__user
              +user({
                imageSrc: "images/user-1.jpg",
                name: "John Smith",
                profession: "ux designer"
              })
            .ui-kit__user
              +user({
                imageSrc: "images/user-2.jpg",
                name: "Sarah Brown",
                profession: "developer",
                backgroundColor: "secondary"
              })
        section.ui-kit__news
          .ui-kit__news-title
            +title({ title: "news & events", tag: "h1" })
          .ui-kit__news-row
            .ui-kit__news-col
              +news({
                image: "images/news-1.jpg",
                title: "It’s all going downhill",
                date: "24  august  2013",
                description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
                    "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
                    "nunc, a tincidunt eros.",
                isVerticallyStretched: true
              })
            .ui-kit__news-col
              +news({
                image: "images/news-2.jpg",
                title: "this is the title",
                date: ["24", "Aug"],
                description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                isEvent: true,
                isVerticallyStretched: true
              })
        section.ui-kit__location
          .ui-kit__location-title
            +title({ title: "location", tag: "h1" })
          +map({state: "1259  California St", city: "San Francisco, CA"})
        section.ui-kit__calendar
          .ui-kit__calendar-col
            .ui-kit__calendar-title
              +title({ title: "calendar", tag: "h1" })
            +calendar
          .ui-kit__calendar-col
            .ui-kit__calendar-title
              +title({ title: "messaging", tag: "h1" })
            +messaging
        section.ui-kit__video
          .ui-kit__video-title
            +title({ title: "video", tag: "h1" })
          +player({
            src: "http://viktoriya-chernenko.tk/video/Landscapes-Volume-Two.mp4",
            title: "New Zealand Landscapes Timelapse",
            author: "from Bevan Percival"
          })
