@import "../../styles/variables.styl"

.ui-kit
  max-width 616px
  margin 0 auto
  padding 60px 10px

  &__standart-buttons-title
    margin-bottom 60px

  &__standart-buttons-row
    display flex
    flex-wrap wrap
    justify-content center
    align-items flex-end

    +xs()
      max-width 380px
      margin 0 auto

      &:nth-child(1)
        & ^[0]__button

          &:nth-child(4)
            order 2

          &:nth-child(2)
            order 3

          &:nth-child(5)
            order 4

    +xxs()
      max-width 200px

    &:nth-child(4) ^[0]__button
      margin-bottom 0

      +xs()
        margin-bottom 19px

  &__button
    margin 0 12px 17px

    +xs()

      &:nth-child(1)
        order 2

      &:nth-child(4)
        order 3

  &__arrow-buttons-title
    margin 43px 0 25px

  &__arrow-buttons-content
    display flex
    flex-wrap wrap
    justify-content center

    +xxs()
      max-width 310px
      margin 0 auto

  &__arrow-button
    margin 0 2%

    +xxs()
      margin 0 2% 15px

      &:nth-child(3)
        order 5

      &:nth-child(4)
        order 6

  &__percentages-title
    margin 34px 0 15px

  &__percentages-content
    display flex
    flex-wrap wrap
    justify-content space-between
    margin 0 7px

    +xs()
      justify-content center

  &__percentage
    width 16.32%

    +xs()
      width 27%
      margin 20px 3%

    +xxs()
      width 60%
      margin 20px 0

  &__sliders-title
    margin 24px 0 36px

  &__sliders-row
    display flex
    flex-wrap wrap

  &__sliders-col
    width 50%
    flex-shrink 0

    &:first-child
      padding-right 6%

    &:last-child
      padding-left 6%

    +xs()
      width 100%

      &:first-child
        margin-bottom 40px
        padding-right 0

      &:last-child
        padding-left 0

  &__stages-title
    margin 27px 0 16px

  &__form-elements-title
    margin 42px 0 25px

  &__form-elements-row
    display flex
    flex-wrap wrap
    text-align center

  &__form-elements-col
    flex-shrink 0
    width 50%

    &:first-child
      padding-right 1.68%

    &:last-child
      padding-left 1.68%

    +xxs()
      width 100%

      &:first-child
      &:last-child
        padding 0

  &__form
    margin-top 15px

    +xs()
      margin-bottom 40px

  &__text-input
    margin-bottom 12px

  &__message-textarea
    margin-bottom 7px

  &__submit-button
    text-align right

  &__form-elements-subtitle
    margin 0 0 20px
    line-height 0.8

    &:nth-child(4)
      margin 25px 0 21px

  &__toggle
    display inline-block
    margin 0 2.05%

  &__tick-box
    display inline-block
    margin 0 3.5%

  &__search-and-user
    display flex
    flex-wrap wrap

    &-col
      flex-shrink 0
      width 50%

      &:first-child
        padding-right 1.68%

      &:last-child
        padding-left 1.68%

        & ^[0]__search-title
          margin-bottom 18px

      +xs()
        width 100%

        &:first-child,
        &:last-child
          padding 0

  &__search-title
    margin 54px 0 10px

  &__search
    margin-bottom 16px

  &__user
    display flex
    flex-direction column
    align-items center
    margin 0 0 27px 6.5%

    +xs()
      margin-left 0

  &__news-title
    margin 55px 0 23px

  &__news-row
    display flex
    flex-wrap wrap

  &__news-col
    flex-shrink 0
    width 50%

    &:first-child
      padding-right 1.75%

    &:last-child
      padding-left 1.75%

    +xs()
      width 100%

      &:first-child
        margin-bottom 40px

      &:first-child
      &:last-child
        padding 0

  &__location-title
    margin 37px 0 20px

  &__calendar
    display flex
    flex-wrap wrap

    &-col
      width 50%
      flex-shrink 0

      &:first-child
        padding-right 18px

      &:last-child
        padding-left 8px

      +xs()
        width 100%
        max-width 400px
        margin 0 auto

        &:first-child
        &:last-child
          padding 0

  &__calendar-title
    margin 41px 0 14px

  &__video-title
    margin 42px 0 13px
