include ../../components/subheading/subheading
include ../../components/button/button
include ../../components/arrow-button/arrow-button
include ../../components/percentage/percentage
include ../../components/pie-chart/pie-chart
include ../../components/slider/slider
include ../../components/stage/stage
include ../../components/contact-from/contact-form
include ../../components/toggle/toggle
include ../../components/tick-box/tick-box
include ../../components/search/search
include ../../components/dropdown/dropdown
include ../../components/user/user
include ../../components/news/news
include ../../components/map/map
include ../../components/calendar/calendar
include ../../components/messaging/messaging
include ../../components/player/player

doctype html
html
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  meta(name="keywords", content="ui-kit")
  meta(name="description", content="Ui-kit for developing web interfaces")
  meta(name="msapplication-TileColor" content="#9f00a7")
  meta(name="theme-color" content="#ffffff")
  title FlatUI
  script( src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/site.webmanifest")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
  body
    .body-wrapper
      main.ui-kit
        section.ui-kit__standart-buttons
          .ui-kit__standart-buttons-title-container
            +subheading("standard buttons", "h1")
          .ui-kit__standart-buttons-container
            .ui-kit__button-container
              +button({
                text: "button",
                size: "small",
                bg: "secondary"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                bg: "secondary"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                bg: "primary"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                size: "small",
                bg: "primary"
              })
          .ui-kit__standart-buttons-container
            .ui-kit__button-container
              +button({
                text: "button",
                size: "small",
                bg: "secondary-with-shadow"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                bg: "secondary-with-shadow"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                bg: "primary-with-shadow"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                size: "small",
                bg: "primary-with-shadow"
              })
          .ui-kit__standart-buttons-container
            .ui-kit__button-container
              +button({
                text: "button",
                size: "small",
                bg: "transparent-secondary"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                bg: "transparent-secondary"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                bg: "transparent-primary"
              })
            .ui-kit__button-container
              +button({
                text: "button",
                size: "small",
                bg: "transparent-primary"
              })
        section.ui-kit__arrow-buttons
          .ui-kit__arrow-buttons-title-container
            +subheading("arrow buttons")
          .ui-kit__arrow-buttons-container
            .ui-kit__arrow-button-container
              +arrow-button("transparent", "left")
            .ui-kit__arrow-button-container
              +arrow-button("transparent", "right")
            .ui-kit__arrow-button-container
              +arrow-button("transparent", "left", true)
            .ui-kit__arrow-button-container
              +arrow-button("transparent", "right", true)
            .ui-kit__arrow-button-container
              +arrow-button("transparent", "left")
            .ui-kit__arrow-button-container
              +arrow-button("transparent", "right")
        section.ui-kit__percentages
          .ui-kit__percentages-title-container
            +subheading("percentages / pie chart")
          .ui-kit__percentages-container
            .ui-kit__percentage-container
              +percentage(0)
            .ui-kit__percentage-container
              +percentage(38)
            .ui-kit__percentage-container
              +percentage(62)
            .ui-kit__percentage-container
              +percentage(89)
            .ui-kit__percentage-container
              +pie-chart("10, 27, 30, 33")
        section.ui-kit__sliders
          .ui-kit__sliders-title-container
            +subheading("sliders")
          .ui-kit__sliders-container
            .ui-kit__sliders-col
              +slider(true, false, false, "36")
            .ui-kit__sliders-col
              +slider(false, true, "secondary", "71")
        section.ui-kit__stages
          .ui-kit__stages-title-container
            +subheading("stages")
          +stage(5, 3)
        section.ui-kit__form-elements
          .ui-kit__form-elements-title-container
            +subheading("form elements")
          .ui-kit__form-elements-container
            .ui-kit__form-elements-col
              .ui-kit__form-container
                +contact-form
            .ui-kit__form-elements-col
              .ui-kit__form-elements-subtitle-container
                +subheading("toggles")
              .ui-kit__toggle-container
                +toggle
              .ui-kit__toggle-container
                +toggle(true)
              .ui-kit__form-elements-subtitle-container
                +subheading("tick boxes")
              .ui-kit__tick-box-container
                +tick-box(true)
              .ui-kit__tick-box-container
                +tick-box
        section.ui-kit__search
          .ui-kit__search-col
            .ui-kit__search-title-container
              +subheading("search / drop down")
            .ui-kit__search-container
              +search("Search")
            .ui-kit__search-container
              +search("I’ve not found what I’m looking for...", "primary")
            +dropdown({
              "1": "Option 1",
              "2": "Option 2",
              "3": "Option 3"
            },
            "Choose An Option")
          .ui-kit__search-col
            .ui-kit__search-title-container
              +subheading("user profile")
            .ui-kit__user-container
              +user("user-1", "John Smith", "ux designer")
            .ui-kit__user-container
              +user("user-2", "Sarah Brown", "developer", "secondary")
        section.ui-kit__news
          .ui-kit__news-title-container
            +subheading("news & events")
          .ui-kit__news-container
            .ui-kit__news-col
              +news({
                image: "news-1",
                title: "It’s all going downhill",
                date: "24  august  2013",
                description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
                    "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
                    "nunc, a tincidunt eros."
              })
            .ui-kit__news-col
              +news({
                image: "news-2",
                title: "this is the title",
                date: ["24", "Aug"],
                description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                isEvent: true
              })
        section.ui-kit__location
          .ui-kit__location-title-container
            +subheading("location")
          +map
        section.ui-kit__calendar
          .ui-kit__calendar-col
            .ui-kit__calendar-title-container
              +subheading("calendar")
            +calendar
          .ui-kit__calendar-col
            .ui-kit__calendar-title-container
              +subheading("messaging")
            +messaging("photo")
        section.ui-kit__video
          .ui-kit__video-title-container
            +subheading("video")
          +player(
          "http://viktoriya-chernenko.tk/video/Landscapes-Volume-Two.mp4",
          "New Zealand Landscapes Timelapse",
          "from Bevan Percival"
          )

