@import "../../styles/variables.styl"

.ui-kit
  max-width 616px
  margin 0 auto
  padding 60px 10px

  &__standart-buttons-title-container
    margin-bottom 60px

  &__standart-buttons-container
    display flex
    flex-wrap wrap
    justify-content center
    align-items flex-end
    +xs()
      max-width 380px
      margin 0 auto

      &:nth-child(1)
        .ui-kit__button-container

          &:nth-child(4)
            order 2

          &:nth-child(2)
            order 3

          &:nth-child(5)
            order 4

    +xxs()
      max-width 200px

    &:nth-child(4) .ui-kit__button-container
      margin-bottom 0
      +xs()
        margin-bottom 19px

  &__button-container
    margin 0 12px 19px
    +xs()

      &:nth-child(1)
        order 2

      &:nth-child(4)
        order 3

  &__arrow-buttons-title-container
    margin 43px 0 25px

  &__arrow-buttons-container
    display flex
    flex-wrap wrap
    justify-content center
    +xxs()
      max-width 310px
      margin 0 auto

  &__arrow-button-container
    margin 0 2%
    +xxs()
      margin 0 2% 15px

      &:nth-child(3)
        order 5

      &:nth-child(4)
        order 6

  &__percentages-title-container
    margin 34px 0 15px

  &__percentages-container
    display flex
    flex-wrap wrap
    justify-content space-between
    margin 0 7px
    +xs()
      justify-content center

  &__percentage-container
    width 16.32%
    +xs()
      width 27%
      margin 20px 3%
    +xxs()
      width 60%
      margin 20px 0

  &__sliders-title-container
    margin 24px 0 36px

  &__sliders-container
    display flex
    flex-wrap wrap

  &__sliders-col
    width 50%
    flex-shrink 0

    &:first-child
      padding-right 6%

    &:last-child
      padding-left 6%

    +xs()
      width 100%

      &:first-child
        margin-bottom 40px
        padding-right 0

      &:last-child
        padding-left 0

  &__stages-title-container
    margin 27px 0 16px

  &__form-elements-title-container
    margin 42px 0 25px

  &__form-elements-container
    display flex
    flex-wrap wrap
    text-align center

  &__form-elements-col
    flex-shrink 0
    width 50%

    &:first-child
      padding-right 1.68%

    &:last-child
      padding-left 1.68%

    +xxs()
      width 100%

      &:first-child
      &:last-child
        padding 0

      .contact-form
        margin-bottom 39px

  &__form-container
    margin-top 15px

  &__form-elements-subtitle-container
    margin 0 0 20px
    line-height 0.8

    &:nth-child(4)
      margin 25px 0 21px

  &__toggle-container
    display inline-block
    margin 0 2.05%

  &__tick-box-container
    display inline-block
    margin 0 3.5%

  &__search
    display flex
    flex-wrap wrap

    &-col
      flex-shrink 0
      width 50%

      &:first-child
        padding-right 1.68%

      &:last-child
        padding-left 1.68%

        .ui-kit__search-title-container
          margin-bottom 18px

      +xs()
        width 100%

        &:first-child,
        &:last-child
          padding 0

  &__search-title-container
    margin 54px 0 10px

  &__search-container
    margin-bottom 16px

  &__user-container
    margin 0 0 27px 6.5%
    +xs()
      margin-left 0

    .user
      margin 0 auto

  &__news-title-container
    margin 55px 0 23px

  &__news-container
    display flex
    flex-wrap wrap

  &__news-col
    flex-shrink 0
    width 50%

    &:first-child
      padding-right 1.75%

    &:last-child
      padding-left 1.75%

    +xs()
      width 100%

      &:first-child
        margin-bottom 40px

      &:first-child
      &:last-child
        padding 0

    .news
      height 100%

  &__location-title-container
    margin 37px 0 20px

  &__calendar
    display flex
    flex-wrap wrap

    &-col
      width 50%
      flex-shrink 0

      &:first-child
        padding-right 18px

      &:last-child
        padding-left 8px

      +xs()
        width 100%
        max-width 400px
        margin 0 auto

        &:first-child
        &:last-child
          padding 0

  &__calendar-title-container
    margin 41px 0 14px

  &__video-title-container
    margin 42px 0 13px
