mixin chart({series, type, value})
  .chart.js-chart(data-series=series data-type=type)
    if(type === "percentage")
      span.chart__value.js-chart__value= value
    svg(class="chart__svg js-chart__svg" viewBox="0 0 100 100")