@import "../../styles/variables.styl"

.freelancers
  padding 80px 10px

  &__container
    display flex
    flex-wrap wrap
    max-width 1200px
    margin 0 auto

  &__col

    &:first-child
      width 25%
      padding-right 3%
      +sm()
        order 2
        width 100%
        max-width 450px
        margin 0 auto
        padding-right 0

    &:last-child
      width 75%
      padding-left 3%
      +sm()
        width 100%
        padding-left 0

  &__subheading-container
    margin 40px 0 20px

  &__main-title
    width 100%
    margin 40px 0

  &__page-nav-container
    padding 10px 0 0
    border-top 1px solid light-grey-text

    &:nth-child(2)
      margin-bottom 40px
      padding 0 0 10px
      border-top 0
      border-bottom 1px solid light-grey-text




