include ../menu/menu

mixin mainMenu

    .main-menu__container
        .main-menu
            +menu([
              ['<i class="fas fa-home"></i> home', 'main'],
              ['<i class="far fa-user"></i> account', 'account']
            ])
            +menu([
              ['<i class="fas fa-edit"></i> get started', 'get-started'],
              ['<i class="fas fa-users"></i> freelancers', 'freelancers'],
              ['<i class="far fa-file-alt"></i> news and events', 'news'],
              ['<i class="fas fa-map-marker-alt"></i> contact us', 'contact']
            ])