include ../menu/menu

mixin mainMenu

    .main-menu__container
        .main-menu
            +menu([
              ['account', 'account'],
              ['log out', 'main']
            ])
            +menu([
              ['get started', 'get-started'],
              ['freelancers', 'freelancers'],
              ['news and events', 'news'],
              ['contact us', 'contact']
            ])