.mobile-menu
  display: none
  &__button
    cursor: pointer
  +md()
    display: block
    position: fixed
    top: 0
    left: 0
    width: 100%
    padding: 20px
    font-size: 20px
    background: #00796B
    color: #ffffff