@import "../../styles/variables.styl"

.mobile-menu
  display none
  transition all 0.5s ease-in-out
  &_opened
    transform translateX(250px)
  &__button
    cursor pointer
  +md()
    z-index 9999
    display block
    position fixed
    top 0
    left 0
    width 100%
    padding rem(20px)
    font-size rem(20px)
    background #00796B
    color #ffffff
    box-shadow 0 rem(3px) rem(9px) 0 rgba(0, 0, 0, 0.4)