@import "../../styles/variables.styl"

.button
  display inline-block
  position relative
  padding rem(10px) rem(33px)
  border none
  border-radius rem(3px)
  font-size rem(12px)
  font-weight 400
  text-transform uppercase
  letter-spacing rem(0.6px)
  text-decoration none
  color #ffffff
  overflow hidden
  user-select none
  cursor pointer
  transition background 0.3s ease
  border-bottom-width 3px

  &_xsmall
    padding rem(6px) rem(12px)
    font-size rem(10px)
    border-bottom-width 2px

  &_small
    padding rem(6px) rem(17px)
    font-size rem(10px)
    border-bottom-width 2px

  &_big
    padding rem(12px) rem(34px)
    font-size rem(20px)
    +xs()
      font-size rem(16px)

  &_short
    padding-left rem(15px)
    padding-right rem(15px)

  &_fluid
    width 100%

  &_primary
  &_primary-with-shadow
    background-color primary-color

    &:hover
    &:focus
      background-color dark-primary-color

  &_primary-with-shadow
    border-bottom-color dark-primary-color
    border-bottom-style solid

  &_secondary
  &_secondary-with-shadow
    background-color secondary-color

    &:hover
    &:focus
      background-color dark-secondary-color

  &_secondary-with-shadow
    border-bottom-color dark-secondary-color
    border-bottom-style solid

  &_transparent-primary
    background #fff
    color primary-color
    box-shadow inset 0 0 0 rem(1px) primary-color
    border-bottom-color primary-color
    border-bottom-style solid

    &:hover
    &:focus
      background-color lighten(primary-color, 80%)

  &_transparent-secondary
  &_transparent-dark-secondary
    background #fff
    color secondary-color
    box-shadow inset 0 0 0 rem(1px) secondary-color
    border-bottom-color secondary-color
    border-bottom-style solid

    &:hover
    &:focus
      background-color lighten(secondary-color, 80%)

  &_transparent-dark-secondary
    border-bottom-color dark-secondary-color

  &__ripple
    z-index 99999
    display block
    position absolute
    background rgba(255, 255, 255, 0.7)
    border-radius 100%
    transform scale(0)

    &_animated
      animation shadow 0.65s ease-in-out

@keyframes shadow
  100%
    opacity 0
    transform scale(2)