.pie-chart
  square()
  &__svg
    width 100%
    height 100%
    transform rotate(-90deg)
    transform-origin center center
  &__bar
    stroke transparent
    stroke-width 18%
    stroke-dashoffset 0
    transition stroke-dashoffset 2s ease
