.pie-chart
  flex-shrink 0
  width 100%
  height 100%
  border-radius 50%
  position relative
  overflow hidden
  .ct-series .ct-slice-donut
    stroke-width 18% !important
  .ct-series-a .ct-slice-donut
    stroke grey
  .ct-series-b .ct-slice-donut
    stroke primary-color
  .ct-series-c .ct-slice-donut
    stroke secondary-color
  .ct-series-d .ct-slice-donut
    stroke light-grey
