include ../button/button

mixin menu(items)
  ul.menu
    each item in items
      li.menu__item
        +button({
          text: item[0],
          bg: "secondary",
          tag: "a",
          href: item[1] + ".html"
        })