.menu
  padding rem(20px) rem(5px)
  list-style-type none
  display flex
  +md()
    flex-direction column
    padding 0
  &__item
    margin 0 rem(5px)
    +md()
      margin-bottom rem(10px)
  &__button-container
    +md()
      width 220px