include head
include ../components/mobile-menu/mobile-menu
include ../components/page-menu/page-menu
include ../components/page-footer/page-footer
include ../components/page-messaging/page-messaging
doctype html
html
  head
    block meta
      meta(charset="utf-8")
      meta(name="viewport" content="initial-scale=1.0, width=device-width")
    block title
      title FlatUI
    script( src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
  body
    +pageMenu
    +mobileMenu
    .body-wrapper
      block content
      .background-container
        +pageFooter
    +pageMessaging