.search
  position: relative
  border-radius: 4px
  overflow: hidden
  &__input
    width: 100%
    padding: 8px 13px
    border: none
    background-color light-grey
    font-size 14px
    letter-spacing 0.14px
    line-height: 1
    +placeholder()
      color dark-grey-text
      transition color 0.3s ease
    +placeholder-focus()
      color: transparent
    &_color_primary
      color #ffffff
      background-color primary-color
      +placeholder()
        color #ffffff
  &__button
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width 33px
    border: none
    background primary-color url("images/search.svg") no-repeat center
    background-size: 50%
    cursor: pointer