mixin settings

    ul.settings
        li.settings__item Send e-mail
            +toggle('settings-1', true)
        li.settings__item Send sound
            +toggle('settings-2', true)
        li.settings__item Send e-mail
            +toggle
        li.settings__item Send sound
            +toggle
        li.settings__item Sound
            +slider(false, true, 'secondary', '70')