.button
  position: relative
  padding: rem(10px) rem(33px)
  border: none
  border-radius: 3px
  font-size rem(12px)
  font-weight: 700
  text-transform uppercase
  letter-spacing 0.6px
  color #ffffff
  cursor: pointer
  &__shadow
    position: absolute
    display: none
    width: rem(50px)
    height: rem(50px)
    border-radius: 50%
    background-color light-shadow
    opacity 0.3
  &_size_small
    padding: rem(6px) rem(17px)
    font-size rem(10px)
  &_bg
    &_primary
      background-color primary-color
    &_primary-shadow
      background-color primary-color
      border-bottom: 3px solid dark-primary-color
      &.button_size_small
        border-bottom: 2px solid dark-primary-color
    &_secondary
      background-color secondary-color
    &_secondary-shadow
      background-color secondary-color
      border-bottom: 3px solid dark-secondary-color
      &.button_size_small
        border-bottom: 2px solid dark-secondary-color
    &_transparent-primary
      padding: rem(9px) rem(32px) rem(8px)
      background: #fff
      color: primary-color
      border: 1px solid primary-color
      border-bottom: 4px solid primary-color
      &.button_size_small
        padding: rem(5px) rem(16px) rem(4px)
        border-bottom: 3px solid primary-color
    &_transparent-secondary
      padding: rem(9px) rem(32px) rem(8px)
      background: #fff
      color: secondary-color
      border: 1px solid secondary-color
      border-bottom: 4px solid secondary-color
      &.button_size_small
        padding: rem(5px) rem(16px) rem(4px)
        border-bottom: 3px solid secondary-color
    &_transparent-dark-secondary
      padding: rem(9px) rem(32px) rem(8px)
      background: #fff
      color: secondary-color
      border: 1px solid secondary-color
      border-bottom: 4px solid dark-secondary-color
      &.button_size_small
        padding: rem(5px) rem(16px) rem(4px)
        border-bottom: 3px solid dark-secondary-color