.statistic
  display: flex
  align-items: center
  margin: 0 auto
  overflow: hidden
  &__col
    width: 50%
  &__list
    list-style-type: none
    font-size: 20px
    font-weight: 900
    &-item
      margin-bottom: 10px
      &_color
        &_grey
          color: grey
        &_red
          color: primary-color
        &_green
          color: secondary-color
        &_light-grey
          color: light-grey-text
