.contact-form
  text-align: right
  &__input-group
    display: flex
  &__input
  &__textarea
    input()
  &__input
    width: rem(72px)
    flex-grow: 1
    margin-bottom: rem(12px)
  &__tip
    position: relative
    width: rem(72px)
    margin: 0 0 rem(12px) rem(7px)
    padding: rem(8px) 0
    border-radius: 5px
    font-weight: 900
    font-size rem(10px)
    text-align: center
    letter-spacing rem(0.5px)
    text-transform uppercase
    color #fff
    background: primary-color
    &:after
      content: ''
      position: absolute
      top: rem(11px)
      left: rem(-3px)
      width: rem(7px)
      height: rem(7px)
      transform rotate(45deg)
      background: primary-color
    &_bg_secondary
      background: secondary-color
      &:after
        background: secondary-color
  &__textarea
    width: 100%
    height rem(88px)
    margin-bottom: rem(7px)
    padding: rem(11px) rem(12px)
