@import "../../styles/variables.styl"

.textarea
  input()
  border-radius 3px
  width 100%
  min-height 88px
  padding 10px 12px
  transition all 0.3s ease

  &:hover
  &:focus
    border 1px solid secondary-color