extends ../../templates/template

include ../page-menu/page-menu
include ../page-footer/page-footer
include ../subheading/subheading
include ../news/news
include ../calendar/calendar
include ../search/search
include ../arrow-button/arrow-button
include ../button/button

block append meta
  meta(name="keywords", content="news, events, freelance news, freelance events")
  meta(name="description", content="Latest news and upcoming events " +
      "in the world of freelancing")

block title
  title News and events

block content
  .container
    .news-page
      aside.news-page__col.news-page__col_size_4
        +subheading("search news")
        +search("Search...", false, true)
        +calendar
      main.news-page__col.news-page__col_size_8
        .news-page__title
          +subheading("news", "h1")
        +news({
          image: "news-3",
          title: "Top 5 professions in freelance",
          titleTag: "h2",
          date: "24  NOVEMBER  2018",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
              "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
              "nunc, a tincidunt eros."

        })
        +news({
          image: "news-7",
          title: "How to prepare for an interview",
          titleTag: "h2",
          date: "23  NOVEMBER  2018",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
              "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
              "nunc, a tincidunt eros."
        })
        +news({
          image: "news-4",
          title: "Work without leaving home",
          titleTag: "h2",
          date: "22  NOVEMBER  2018",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
              "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
              "nunc, a tincidunt eros."
        })
        +news({
          image: "news-5",
          title: "What the designer should know",
          titleTag: "h2",
          date: "21  NOVEMBER  2018",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
              "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
              "nunc, a tincidunt eros."
        })
        nav.news-page__nav
          +arrowButton("transparent-secondary", "left-secondary", false, "small")
          .news-page__nav-buttons
            +button({
              text: "1",
              size: "small",
              bg: "secondary"
            })
            +button({
              text: "2",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "3",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "4",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "5",
              size: "small",
              bg: "transparent-secondary"
            })
          +arrowButton("transparent-secondary", "right-secondary", false, "small")
        .news-page__title
          +subheading("upcoming events")
        +news({
          image: "news-6",
          title: "javascript webinar",
          date: ["27", "Jan"],
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          isEvent: true
         })
        +news({
          image: "news-8",
          title: "open your own business",
          date: ["22", "Jan"],
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          isEvent: true
        })
        +news({
          image: "news-9",
          title: "web design workshop",
          date: ["14", "Jan"],
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          isEvent: true
        })
        +news({
          image: "news-10",
          title: "get a new profession",
          date: ["10", "Jan"],
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          isEvent: true
        })
        nav.news-page__nav
          +arrowButton("transparent-secondary", "left-secondary", false, "small")
          .news-page__nav-buttons
            +button({
              text: "1",
              size: "small",
              bg: "secondary"
            })
            +button({
              text: "2",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "3",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "4",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "5",
              size: "small",
              bg: "transparent-secondary"
            })
          +arrowButton("transparent-secondary", "right-secondary", false, "small")