include ../subheading/subheading
include ../news/news

mixin uiKitNewsAndEvents
  section.ui-kit-news-and-events
    .ui-kit-news-and-events__title-container
      +subheading('NEWS & EVENTS')
    .ui-kit-news-and-events__container
      .ui-kit-news-and-events__col
        +news({
          image: 'news-1',
          title: 'It’s all going downhill',
          date: '24  AUGUST  2013',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
              'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
              'nunc, a tincidunt eros.'
        })
      .ui-kit-news-and-events__col
        +news({
          image: 'news-2',
          title: 'THIS IS THE TITLE',
          date: ['24', 'Aug'],
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
          isEvent: true
        })