.ui-kit-search-dropdown-user
  display flex
  flex-wrap wrap
  &__col
    flex-shrink 0
    width 50%
    &:first-child
      padding-right 1.68%
      .subheading
        margin rem(54px) 0 rem(10px)
    &:last-child
      padding-left 1.68%
      .subheading
        margin rem(54px) 0 rem(18px)
    .search
      margin-bottom rem(16px)
    .user
      margin-left 6.5%
      margin-bottom rem(24px)
    +xs()
      width 100%
      &:first-child,
      &:last-child
        padding 0