include ../subheading/subheading
include ../search/search
include ../dropdown/dropdown
include ../user/user

mixin uiKitSearchDropdownUser
  section.ui-kit-search-dropdown-user
    .ui-kit-search-dropdown-user__col
      +subheading("search / drop down")
      +search("Search")
      +search("I’ve not found what I’m looking for...", "primary")
      +dropdown({
        "1": "Option 1",
        "2": "Option 2",
        "3": "Option 3"
      },
      "Choose An Option")
    .ui-kit-search-dropdown-user__col
      +subheading("user profile")
      +user("user-1", "John Smith", "ux designer")
      +user("user-2", "Sarah Brown", "developer", "secondary")
