.user
  display flex
  align-items center
  max-width 300px
  margin 0 auto //???
  text-align center
  &_size_big
    max-width 450px
    margin 0 auto
    .user__info
      padding rem(15px) rem(10px) rem(21px)
    .user__name
      font-size rem(27px)
      margin-bottom rem(5px)
    .user__profession
      font-size rem(17px)
      margin-bottom rem(18px)
    .user__social-icons
      max-width 141px
    .user__social-icon
      display inline-block
      &_1
        width rem(15px)
        height rem(32px)
      &_2
        width rem(38px)
        height rem(32px)
      &_3
        width rem(32px)
        height rem(32px)
  &__picture
    flex-shrink 0
    width calc(34%)
    margin-right 2%
    border 5px solid light-grey
    border-radius 50%
    background-position top center
    background-size cover
    square()
  &__info
    position relative
    width "calc(64% - %s)" % rem(7px)
    margin 0 0 0 rem(7px)
    padding rem(10px) rem(10px) rem(14px)
    border-radius 10px
    background-color light-grey
    &:after
      content ""
      position absolute
      top 50%
      left 0
      width rem(9px)
      height rem(9px)
      transform translate(-50%, -50%) rotate(45deg)
      background-color light-grey
    &_bg_secondary
      background-color secondary-color
      &:after
        background-color secondary-color
  &__name
    margin-bottom rem(3px)
    font-size rem(18px)
    color primary-color
    break-word()
    &_color_white
      color #ffffff
  &__profession
    margin-bottom rem(12px)
    font-size rem(11px)
    font-weight 900
    text-transform uppercase
    letter-spacing rem(0.55px)
    color dark-grey
    break-word()
    &_color_white
      color #ffffff
  &__social-icons
    display flex
    justify-content space-between
    max-width rem(94px)
    margin 0 auto
  &__social-icon
    background-size 100%
    background-repeat no-repeat
    background-position center
    &_1
      width rem(10px)
      height rem(21px)
      background-image url("images/facebook-f-brands.svg")
      &-white
        background-image url("images/facebook-f-brands-white.svg")
    &_2
      width rem(25px)
      height rem(20px)
      background-image url("images/twitter-brands.svg")
      &-white
        background-image url("images/twitter-brands-white.svg")
    &_3
      width rem(21px)
      height rem(21px)
      background-image url("images/dribbble-brands.svg")
      &-white
        background-image url("images/dribbble-brands-white.svg")


