mixin messaging(imageSrc)
  section.messaging
    header.messaging__header
      h3.messaging__title Sarah Brown
    .messaging__body
      .messaging__icons
        span.messaging__icon.messaging__icon_chat
        .messaging__photo(style="background-image: url(\"images/" + imageSrc + ".jpg\")")
        span.messaging__icon.messaging__icon_camera
      .messaging__incoming
        p.messaging__incoming-paragraph
          | Hey! So are we cool to meet at the art gallery? Say 8pm
      form.messaging__form(
        action="mock-address/change-me",
        method="post"
      )
        textarea.messaging__textarea Yeah that sounds great. See you then.
        +button({
          text: "REPLY",
          bg: "secondary-shadow",
          type: "submit"
        })
