.messaging
  border-radius rem(3px)
  background-color #f2f2f2
  overflow hidden
  break-word()
  &__header
    position relative
    padding 7% rem(20px) 20%
    background-color secondary-color
    &:after
      content: ""
      display inline-block
      position absolute
      bottom 0
      left 0
      width 100%
      padding-top 12%
      background darker-secondary-color
  &__title
    font-family "Source Sans Pro", "Arial", sans-serif
    font-size rem(34px)
    font-weight 300
    text-align center
    letter-spacing rem(-1.02px)
    color #ffffff
  &__body
    position relative
    padding 21% rem(22px) rem(26px)
  &__icons
    position absolute
    top 0
    left 0
    display flex
    justify-content space-between
    align-items flex-end
    width 100%
    padding 0 rem(28px)
    transform translate(0, -50%)
  &__icon
    display inline-block
    flex-shrink 0
    background-repeat no-repeat
    background-position center center
    background-size 100%
    cursor pointer
    &_with-chat
      width rem(21px)
      height rem(22px)
      margin-bottom rem(2px)
      background-image url("images/chat-icon.svg")
    &_with-camera
      width rem(25px)
      height rem(20px)
      margin-bottom rem(6px)
      background-image url("images/camera-icon.svg")
  &__photo
    width 40%
    border-radius 50%
    border rem(5px) solid light-grey
    background-position top center
    background-size cover
    square()
  &__incoming
    position relative
    margin-bottom rem(18px)
    padding rem(16px) rem(20px) rem(22px)
    border-radius rem(5px)
    background-color #ffffff
    &:after
      position absolute
      top 0
      left 50%
      content ""
      display inline-block
      width rem(10px)
      height rem(10px)
      transform translate(-50%, -50%) rotate(45deg)
      background-color #ffffff
    &-paragraph
      font-size rem(13px)
      letter-spacing rem(0.63px)
      line-height 1.2
      color #868686
  &__textarea
    width 100%
    height rem(88px)
    margin-bottom rem(12px)
    padding rem(16px) rem(20px)
    border-radius rem(3px)
    border rem(3px) solid #ffffff
    font-size rem(13px)
    letter-spacing rem(0.63px)
    background-color light-grey
    color #777777
    transition all 0.3s ease
    &:hover
    &:focus
      border-color lightness(secondary-color, 70%)
