include ../toggle/toggle
include ../slider/slider

mixin accountSettings

    ul.account-settings
        li.account-settings__item Send e-mail
            +toggle('settings-1', true)
        li.account-settings__item Send sound
            +toggle('settings-2', true)
        li.account-settings__item Send e-mail
            +toggle
        li.account-settings__item Send sound
            +toggle
        li.account-settings__item Sound
            +slider(false, true, 'secondary', '70')