.account-settings
  &__list
    list-style-type: none
    font-size: 18px
    +sm()
      max-width: 500px
      margin: 0 auto
  &__item
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    .slider__container
      width: 100%
      margin-top: 10px