include ../toggle/toggle
include ../slider/slider

mixin accountSettings
  form.account-settings(
    action="mock-address/change-me",
    method="post"
  )
    ul.account-settings__list
      li.account-settings__item
        p.account-settings__text Send e-mail
        .account-settings__toggle-container
          +toggle(true)
      li.account-settings__item
        p.account-settings__text Send sound notifications
        .account-settings__toggle-container
          +toggle(true)
      li.account-settings__item
        p.account-settings__text Enable newsletter
        .account-settings__toggle-container
          +toggle
      li.account-settings__item
        p.account-settings__text Enable private messages
        .account-settings__toggle-container
          +toggle
      li.account-settings__item
        p.account-settings__text Sound
        +slider(false, true, "secondary", "70")