include ../button/button

mixin uiKitStandartButtons
  section.ui-kit-standart-buttons
    .ui-kit-standart-buttons__title-container
      +subheading("STANDARD BUTTONS", "h1")
    .ui-kit-standart-buttons__buttons-container
      +button({
        text: "BUTTON",
        size: "small",
        bg: "secondary"
      })
      +button({
        text: "BUTTON",
        bg: "secondary"
      })
      +button({
        text: "BUTTON",
        bg: "primary"
      })
      +button({
        text: "BUTTON",
        size: "small",
        bg: "primary"
      })
    .ui-kit-standart-buttons__buttons-container
      +button({
        text: "BUTTON",
        size: "small",
        bg: "secondary-shadow"
      })
      +button({
        text: "BUTTON",
        bg: "secondary-shadow"
      })
      +button({
        text: "BUTTON",
        bg: "primary-shadow"
      })
      +button({
        text: "BUTTON",
        size: "small",
        bg: "primary-shadow"
      })
    .ui-kit-standart-buttons__buttons-container
      +button({
        text: "BUTTON",
        size: "small",
        bg: "transparent-secondary"
      })
      +button({
        text: "BUTTON",
        bg: "transparent-secondary"
      })
      +button({
        text: "BUTTON",
        bg: "transparent-primary"
      })
      +button({
        text: "BUTTON",
        size: "small",
        bg: "transparent-primary"
      })
