.ui-kit-standart-buttons
  &__title-container
    margin-bottom 60px
  &__buttons-container
    display flex
    flex-wrap wrap
    justify-content center
    align-items flex-end
    +xs()
      max-width 380px
      margin 0 auto
      &:nth-child(1)
        .button
          &:nth-child(4)
            order 2
          &:nth-child(2)
            order 3
          &:nth-child(5)
            order 4
      .button
        &:nth-child(1)
          order 2
        &:nth-child(4)
          order 3
    +xxs()
      max-width 200px
    &:nth-child(4) .button
      margin-bottom 0
      +xs()
        margin-bottom rem(19px)
    .button
      margin 0 rem(12px) rem(19px)


