.search-dropdown-user__container
  display: flex
  flex-wrap wrap

.search-dropdown-user__col
  flex-shrink 0
  width: 50%
  &:first-child
    padding-right: 10px
  &:last-child
    padding-left: 27px
    .subheading
      margin: 54px -12px 18px
  .subheading
    margin: 54px -4px 10px
  .search
    margin-bottom: 16px
  .user
    margin-bottom: 24px