include ../subheading/subheading
include search/search
include dropdown/dropdown

mixin searchDropdownUser
    .search-dropdown-user__col
        +subheading('SEARCH / DROP DOWN')
        +search('Search')
        +search('I’ve not found what I’m looking for...', 'primary')
        +dropdown

    .search-dropdown-user__col
