.search-dropdown-user__container
  display: flex
  flex-wrap wrap

.search-dropdown-user__col
  flex-shrink 0
  width: 50%
  &:first-child
    padding-right: 10px
  .subheading
    margin: 54px -8px 10px
  .search
    margin-bottom: 16px