include ../../ui-kit-components/dropdown/dropdown
include ../../ui-kit-components/slider/slider
include ../../ui-kit-components/tick-box/tick-box
include ../../ui-kit-components/button/button

mixin filter
  form.filter(
    action="mock-address/change-me",
    method="get"
  )
    .filter__row
      span.filter__subtitle Choose category
      +dropdown({
        "category-1": "Web design",
        "category-2": "HTML",
        "category-3": "CMS"
      },
      "Choose Category")
    .filter__row
      span.filter__subtitle Min cost of work
      .filter__slider
        +slider({isTip: true, value: "10"})
    .filter__row
      span.filter__subtitle Max cost of work
      .filter__slider
        +slider({isTip: true, value: "90"})
    .filter__row.filter__row_with-flex
      span.filter__subtitle Show busy freelancers
      .filter__tick-box
        +tick-box(true)
    .filter__row.filter__row_with-flex
      span.filter__subtitle Show only best freelancers
      .filter__tick-box
        +tick-box
    +button({
      text: "show results",
      background: "primary",
      isFluid: true,
      type: "submit"
    })