extends ../../templates/template

include ../../components/title/title
include ../../components/news/news
include ../../components/calendar/calendar
include ../../components/search/search
include ../../components/page-nav/page-nav

block append meta
  meta(name="keywords", content="news, events, freelance news, freelance events")
  meta(name="description", content="Latest news and upcoming events " +
      "in the world of freelancing")

block title
  title News and events

block content
  .news-page
    aside.news-page__aside-column
      .news-page__title
        +title({ title: "search news", tag: "h2" })
      .news-page__search
        +search({placeholderText: "Search...", isAutofocus: true})
      +calendar
    main.news-page__main-column
      .news-page__main-title
        +title({ title: "news", tag: "h1" })
      .news-page__news
        +news({
          image: "news-3",
          title: "Top 5 professions in freelance",
          titleTag: "h2",
          date: "24  November  2018",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
              "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
              "nunc, a tincidunt eros.",
          isVerticallyStretched: true

        })
      .news-page__news
        +news({
          image: "news-7",
          title: "How to prepare for an interview",
          titleTag: "h2",
          date: "23  November  2018",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
              "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
              "nunc, a tincidunt eros.",
          isVerticallyStretched: true
        })
      .news-page__news
        +news({
          image: "news-4",
          title: "Work without leaving home",
          titleTag: "h2",
          date: "22  November  2018",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
              "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
              "nunc, a tincidunt eros.",
          isVerticallyStretched: true
        })
      .news-page__news
        +news({
          image: "news-5",
          title: "What the designer should know",
          titleTag: "h2",
          date: "21  November  2018",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
              "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
              "nunc, a tincidunt eros.",
          isVerticallyStretched: true
        })
      +page-nav
      .news-page__main-title
        +title({ title: "upcoming events", tag: "h2" })
      .news-page__news
        +news({
          image: "news-6",
          title: "javascript webinar",
          date: ["27", "Jan"],
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          isEvent: true,
          isVerticallyStretched: true
        })
      .news-page__news
        +news({
          image: "news-8",
          title: "open your own business",
          date: ["22", "Jan"],
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          isEvent: true,
          isVerticallyStretched: true
        })
      .news-page__news
        +news({
          image: "news-9",
          title: "web design workshop",
          date: ["14", "Jan"],
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          isEvent: true,
          isVerticallyStretched: true
        })
      .news-page__news
        +news({
          image: "news-10",
          title: "get a new profession",
          date: ["10", "Jan"],
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          isEvent: true,
          isVerticallyStretched: true
        })
      +page-nav