@import "../../styles/variables.styl"

.news-page
  display flex
  flex-wrap wrap
  max-width 1200px
  margin 0 auto
  padding rem(80px) rem(10px)

  &__col

    &_4-size
      padding rem(121px) 5% 0 0
      width 30%
      +md()
        width 25%
        padding-right 1.5%
      +sm()
        width 30%
      +xs()
        order 2
        width 100%
        max-width 450px
        margin 0 auto
        padding-right 0

    &_8-size
      display flex
      flex-wrap wrap
      width 70%
      +md()
        width 75%
      +sm()
        width 70%
      +xs()
        width 100%
        max-width 450px
        margin 0 auto

  &__subheading-container
    margin rem(10px) 0

  &__search-container
    margin-bottom rem(40px)

  &__title
    width 100%
    margin rem(40px) 0

  &__news-container
    width 47%
    margin 0 1.5% rem(20px)

    .news
      height 100%

    +sm()
      width 100%
      margin-right 0