@import "../../styles/variables.styl"

.news-page
  display flex
  flex-wrap wrap
  max-width 1200px
  margin 0 auto
  padding 80px 10px

  &__aside-column
    padding 121px 5% 0 0
    width 30%

    +md()
      width 25%
      padding-right 1.5%

    +sm()
      width 30%

    +xs()
      order 2
      width 100%
      max-width 450px
      margin 0 auto
      padding-right 0

  &__main-column
    display flex
    flex-wrap wrap
    width 70%

    +md()
      width 75%

    +sm()
      width 70%

    +xs()
      width 100%
      max-width 450px
      margin 0 auto

  &__subheading-container
    margin 10px 0

  &__search-container
    margin-bottom 40px

  &__title
    width 100%
    margin 40px 0

  &__news-container
    width 47%
    margin 0 1.5% 20px

    +sm()
      width 100%
      margin-right 0