include ../../ui-kit-components/toggle/toggle
include ../../ui-kit-components/slider/slider

mixin settings
  form.settings(
    action="mock-address/change-me",
    method="post"
  )
    ul.settings__list
      li.settings__item
        p.settings__text Send e-mail
        .settings__toggle
          +toggle({isChecked: true})
      li.settings__item
        p.settings__text Send sound notifications
        .settings__toggle
          +toggle({isChecked: true})
      li.settings__item
        p.settings__text Enable newsletter
        .settings__toggle
          +toggle
      li.settings__item
        p.settings__text Enable private messages
        .settings__toggle
          +toggle
      li.settings__item
        p.settings__text Sound
        .settings__slider
          +slider({progressBackground: "secondary", currentValue: "60"})