.get-started
  &__container
    padding: 80px 10px 10px
  &__content-item
    padding: 40px 40px 0
    +xs()
      padding: 40px 10px
  &__content-title
    margin-bottom: 10px
    font-size: 20px
    &_size_big
      padding: 80px 0 30px
      font-size: 45px
      text-align: center
      +xs()
        padding: 50px 0 30px
        font-size: 30px
  &__content-subtitle
    font-size: 18px
    margin-bottom: 20px
  &__content-paragraph
    margin-bottom: 40px
    font-size: 16px
  &__list
    padding-left: 20px
  &__list-item
    margin-bottom: 5px
  &__flex-container
    display: flex
    flex-wrap: wrap
    padding-bottom: 60px
  &__col
    width: 50%
    +md()
      width: 100%
      max-width: 600px
      margin: 0 auto 40px
    &:first-child
      padding-right: 5%
      +md()
        padding-right: 0
    &:last-child
      padding-left: 5%
      +md()
        margin-bottom: 0
        padding-left: 0
  &__button-container
    padding-bottom: 80px
    text-align: center


