.get-started
  &__container
    padding: 80px 0
  &__content-item
    padding: 40px 40px 0
  &__content-title
    margin-bottom: 10px
    font-size: 20px
  &__content-subtitle
    font-size: 18px
    margin-bottom: 20px
  &__content-paragraph
    margin-bottom: 40px
    font-size: 16px
  &__list-item
    margin-bottom: 5px
  &__flex-container
    display: flex
  &__col
    width: 50%
    &:first-child
      padding-right: 5%
    &:last-child
      padding-left: 5%

