.get-started
  &__container
    padding: 80px 0
  &__content-item
    padding: 40px 40px 0
  &__content-title
    margin-bottom: 10px
    font-size: 20px
  &__content-paragraph
    margin-bottom: 40px
    font-size: 16px
