.index-news
  &__container
    display: flex
    flex-wrap: wrap
    padding: 0 10px
    +sm()
      justify-content: center
  &__col
    display: flex
    width: 33.33333333333333%
    padding: 0 20px 40px
    +md()
      width: 50%
    +sm()
      width: 90%
    +xxs()
      width: 100%
