include ../news/news

mixin indexNews
  .index-news
    +subheading('latest news')
    .index-news__container
      .index-news__col
        +news(
          'news-3',
          'Top 5 professions in freelance',
          '24  NOVEMBER  2018',
          'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
          'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
          'nunc, a tincidunt eros.'
        )
      .index-news__col
        +news(
          'news-7',
          'How to prepare for an interview',
          '23  NOVEMBER  2018',
          'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
          'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
          'nunc, a tincidunt eros.'
        )
      .index-news__col
        +news(
          'news-4',
          'Work without leaving home',
          '22  NOVEMBER  2018',
          'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
          'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
          'nunc, a tincidunt eros.'
        )
      .index-news__col
        +news(
          'news-5',
          'What the designer should know',
          '21  NOVEMBER  2018',
          'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
          'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
          'nunc, a tincidunt eros.'
        )
      .index-news__col
        +news(
          'news-2',
          'It’s all going downhill',
          '19  NOVEMBER  2018',
          'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
          'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
          'nunc, a tincidunt eros.'
        )
      .index-news__col
        +news(
          'news-6',
          'How to become freelancer',
          '20  NOVEMBER  2018',
          'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
          'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
          'nunc, a tincidunt eros.'
        )




