include ../news/news

mixin indexNews
  .index-news
    +subheading('latest news')
    .index-news__container
      .index-news__col
        +news({
          image: 'news-3',
          title: 'Top 5 professions in freelance',
          date: '24  NOVEMBER  2018',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
              'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
              'nunc, a tincidunt eros.'
        })
      .index-news__col
        +news({
          image: 'news-7',
          title: 'How to prepare for an interview',
          date: '23  NOVEMBER  2018',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
              'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
              'nunc, a tincidunt eros.'
        })
      .index-news__col
        +news({
          image: 'news-4',
          title: 'Work without leaving home',
          date: '22  NOVEMBER  2018',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
              'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
              'nunc, a tincidunt eros.'
        })
      .index-news__col
        +news({
          image: 'news-5',
          title: 'What the designer should know',
          date: '21  NOVEMBER  2018',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
              'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
              'nunc, a tincidunt eros.'
        })
      .index-news__col
        +news({
          image: 'news-2',
          title: 'It’s all going downhill',
          date: '19  NOVEMBER  2018',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
              'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
              'nunc, a tincidunt eros.'
        })
      .index-news__col
        +news({
          image: 'news-6',
          title: 'How to become freelancer',
          date: '20  NOVEMBER  2018',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
              'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
              'nunc, a tincidunt eros.'
        })




