.button
  position: relative
  width: 100%
  max-width: 118px
  margin: 0 auto
  padding: 10px
  border: none
  border-radius: 3px
  font-size 12px
  font-weight: 700
  color #ffffff
  text-transform uppercase
  letter-spacing 0.6px
  background-color primary-color
  cursor: pointer
  &__shadow
    position: absolute
    top: 0
    bottom: 0
    left: calc(50% - 25px)
    display: none
    width: 50px
    height: 50px
    border-radius: 50%
    background-color light-shadow
    opacity 0.3
  &_size_small
    max-width: 78px
    padding: 6px
    font-size 10px
  &_bg
    &_primary-shadow
      padding: 10px 0 9px
      border-bottom: 3px solid dark-primary-color
      &.button_size_small
        padding: 6px 0 5px
        border-bottom: 2px solid dark-primary-color
    &_secondary
      background-color secondary-color
    &_secondary-shadow
      padding: 10px 0 9px
      background-color secondary-color
      border-bottom: 3px solid dark-secondary-color
      &.button_size_small
        padding: 6px 0 5px
        border-bottom: 2px solid dark-secondary-color
    &_transparent-primary
      padding: 9px 0 8px
      background: none
      color: primary-color
      border: 1px solid primary-color
      border-bottom: 4px solid primary-color
      &.button_size_small
        padding: 5px 0 4px
        border-bottom: 3px solid primary-color
    &_transparent-secondary
      padding: 9px 0 8px
      background: none
      color: secondary-color
      border: 1px solid secondary-color
      border-bottom: 4px solid secondary-color
      &.button_size_small
        padding: 5px 0 4px
        border-bottom: 3px solid secondary-color

