.get-started
  &__container
    padding rem(80px) rem(10px) rem(10px)
  &__content-item
    padding rem(40px) rem(40px) 0
    +xs()
      padding rem(40px) rem(10px)
  &__content-title
    margin-bottom rem(10px)
    font-size rem(20px)
    &_size_big
      padding rem(80px) 0 rem(30px)
      font-size rem(45px)
      font-weight 700
      text-align center
      +xs()
        padding rem(50px) 0 rem(30px)
        font-size rem(30px)
  &__content-paragraph
    margin-bottom rem(40px)
    font-size rem(16px)
  &__flex-container
    display flex
    flex-wrap wrap
    padding-bottom rem(60px)
  &__col
    width 50%
    +md()
      width 100%
      max-width 600px
      margin 0 auto rem(40px)
    &:first-child
      padding-right 5%
      +md()
        padding-right 0
    &:last-child
      padding-left 5%
      +md()
        margin-bottom 0
        padding-left 0
  &__content-subtitle
    font-size rem(18px)
    margin-bottom rem(20px)
  &__list
    padding-left rem(20px)
  &__list-item
    margin-bottom rem(5px)
  &__button-container
    padding-bottom rem(80px)
    text-align center


