fontFace('Lato', 'normal', 900, 'Lato-Black')
fontFace('Lato', 'normal', 700, 'Lato-Bold')
fontFace('Lato', 'normal', 400, 'Lato-Regular')
fontFace('Lato', 'normal', 300, 'Lato-Light')
fontFace('Source Sans Pro', 'normal', 400, 'SourceSansPro-Regular')
fontFace('Source Sans Pro', 'normal', 300, 'SourceSansPro-Light')

html
  font-size: 14px
  font-family: 'Lato'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline none
  //transition all 0.3s ease

button
  cursor: pointer