fontFace("Lato", "normal", 900, "Lato-Black")
fontFace("Lato", "normal", 700, "Lato-Bold")
fontFace("Lato", "normal", 400, "Lato-Regular")
fontFace("Lato", "normal", 300, "Lato-Light")
fontFace("Source Sans Pro", "normal", 400, "SourceSansPro-Regular")
fontFace("Source Sans Pro", "normal", 300, "SourceSansPro-Light")

html
  font-size root-font-size
  font-family "Lato", "Arial", sans-serif
  color #000000
  background: #ffffff

*
  margin 0
  padding 0
  box-sizing border-box
  outline none
  //transition all 0.3s ease

remove-clear-button()

button
  cursor pointer

.container
  max-width 1200px
  margin 0 auto
  .subheading
    padding rem(40px) rem(10px)

.background-container
  padding 0 rem(10px)
  background #212121
  .subheading
    color rgba(255, 255, 255, 0.5)

.body-wrapper
  display flex
  flex-direction column
  min-height 100vh
  position relative
  z-index 1
  min-width 320px
  box-shadow rem(-4px) 0 rem(18px) 0 rgba(0, 0, 0, 0.67)
  transition all 0.5s ease-in-out
  &_opened
    transform translateX(250px) /* Баг при ресайзе окна исправить */

.body-content
  flex-grow 1
  background #ffffff

.footer-container
  flex-grow 0

.far
.fas
  display inline-block
  width rem(10px)
  margin-right rem(10px)