fontFace('Lato', 'normal', 900, 'Lato-Black')
fontFace('Lato', 'normal', 700, 'Lato-Bold')
fontFace('Lato', 'normal', 400, 'Lato-Regular')
fontFace('Lato', 'normal', 300, 'Lato-Light')
fontFace('Source Sans Pro', 'normal', 400, 'SourceSansPro-Regular')
fontFace('Source Sans Pro', 'normal', 300, 'SourceSansPro-Light')

html
  font-size: root-font-size
  font-family: 'Lato'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline none
  //transition all 0.3s ease

button
  cursor: pointer

.container
  max-width: 1200px
  margin: 0 auto
  .subheading
    padding: 40px 0

.background-container
  background: #212121
  .subheading
    color: rgba(255, 255, 255, 0.5)

.account-container
  display: flex
  padding: 80px 0

.account__col
  width: 50%
  &:first-child
    padding-right: 5%
  &:last-child
    padding-left: 5%

.body-wrapper
  position: relative
  z-index: 1
  box-shadow: -4px 0px 18px 0px rgba(0,0,0,0.67)
  transition all 0.5s ease-in-out
  &_opened
    transform translateX(250px)

