@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css"
@import "../../node_modules/normalize-stylus/normalize.styl"
@import "variables.styl"
@import "common.styl"
@import "../components/ui-kit"
@import "../components/subheading"
@import "../components/ui-kit-standart-buttons"
@import "../components/button"
@import "../components/ui-kit-arrow-buttons"
@import "../components/arrow-button"
@import "../../node_modules/chartist/dist/chartist.min.css"
@import "../components/ui-kit-percentages-and-charts"
@import "../components/percentage"
@import "../components/pie-chart"
@import "../plugins/jQuery-UI/jquery-ui.min.css"
@import "../components/ui-kit-sliders"
@import "../components/slider"
@import "../components/ui-kit-stages"
@import "../components/stage"
@import "../components/ui-kit-form-elements"
@import "../components/contact-from/contact-form.styl"
@import "../components/toggle"
@import "../components/tick-box"
@import "../components/ui-kit-search-dropdown-user"
@import "../components/search"
@import "../../node_modules/select2/dist/css/select2.min.css"
@import "../components/dropdown"
@import "../components/user"
@import "../components/ui-kit-news-and-events"
@import "../components/news"
@import "../components/ui-kit-location"
@import "../components/map"
@import "../components/ui-kit-calendar-and-messaging"
@import "../components/calendar"
@import "../components/messaging"
@import "../components/ui-kit-video"
@import "../components/player"

/* Index page */

@import "../components/page-header"
@import "../components/page-menu"
@import "../components/mobile-menu"
@import "../components/menu"
@import "../components/index-tariff-plan"
@import "../components/index-how-it-works"
@import "../components/index-news"
@import "../components/page-footer"
@import "../components/page-messaging"

/* Account page */

@import "../components/account"
@import "../components/account-settings"
@import "../components/account-statistic"
@import "../components/account-deadlines"

/* News page */

@import "../components/news-page"

/* Get started */

@import "../components/get-started"
@import "../components/get-started-registration"

/* Contact */

@import "../components/contact"

/* Freelancers */

@import "../components/freelancers"
