@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css"
@import "../../node_modules/normalize-stylus/normalize.styl"
@import "variables.styl"
@import "common.styl"
@import "../pages/ui-kit"
@import "../components/subheading"
@import "../components/button"
@import "../components/arrow-button"
@import "../../node_modules/chartist/dist/chartist.min.css"
@import "../components/percentage"
@import "../components/pie-chart"
@import "../plugins/jQuery-UI/jquery-ui.min.css"
@import "../components/slider"
@import "../components/stage"
@import "../components/contact-from/contact-form.styl"
@import "../components/toggle"
@import "../components/tick-box"
@import "../components/search"
@import "../../node_modules/select2/dist/css/select2.min.css"
@import "../components/dropdown"
@import "../components/user"
@import "../components/news"
@import "../components/map"
@import "../components/calendar"
@import "../components/messaging"
@import "../components/player"
@import "../components/freelancers-list"
@import "../components/filter"
@import "../components/page-nav"

/* Index page */

@import "../components/page-header"
@import "../components/page-menu"
@import "../components/mobile-menu"
@import "../components/menu"
@import "../pages/index"
@import "../components/tariff-plan"
@import "../components/page-footer"
@import "../components/page-messaging"

/* Account page */

@import "../components/account"
@import "../components/account-settings"
@import "../components/account-statistic"
@import "../components/account-deadlines"

/* News page */

@import "../pages/news-page"

/* Get started */

@import "../pages/get-started"

/* Contact */

@import "../components/contact"

/* Freelancers */

@import "../pages/freelancers"
