secondary-color = #4eb7a8
dark-grey-text = #888888
grey-text = #9d9d9d
light-grey-text = #d1d1d1
dark-primary-color = #bf3e1f
darker-secondary-color = #46ab9d
dark-secondary-color = #28a290
light-grey = #e5e5e5
darker-primary-color = #d54c2c
light-shadow = #fafafa
dark-grey = #4f4f4f
primary-color = #e75735
grey = #747474

/* Mixins */

fontUrl(file)
  return 'fonts/' + file

fontFace(family, style, weight, file)
  @font-face
    font-family family
    font-style style
    font-weight weight
    src url(fontUrl(file + '.svg')),
        url(fontUrl(file + '.woff')),
        url(fontUrl(file + '.ttf'))