// Colors
black = #000000
dark-grey = #4f4f4f
grey = #747474
light-grey = #e5e5e5
white = #ffffff

black-background-color = #212121
grey-background-color = #f2f2f2
page-background = #009688
page-dark-background = #00796B

very-dark-grey-text = #777777
dark-grey-text = #888888
darker-grey-text = #868686
grey-text = #9d9d9d
light-grey-text = #d1d1d1

dark-primary-color = #bf3e1f
darker-primary-color = #d54c2c
primary-color = #e75735
dark-secondary-color = #28a290
darker-secondary-color = #46ab9d
secondary-color = #4eb7a8

light-shadow = #fafafa

// Font-size
root-font-size = 14px

// Media

$md = 1024px
$sm = 800px
$xs = 620px
$xxs = 420px

// Mixins

// Px to Rem

rem(size)
  return 1rem * size / root-font-size

// Media mixin

md()
  @media screen and (max-width $md)
    {block}

sm()
  @media screen and (max-width $sm)
    {block}

xs()
  @media screen and (max-width $xs)
    {block}

xxs()
  @media screen and (max-width $xxs)
    {block}

// Font-Face

fontUrl(file)
  return "fonts/" + file

fontFace(family, style, weight, file)
  @font-face
    font-family family
    font-style style
    font-weight weight
    src url(fontUrl(file + ".svg")) format("svg"),
        url(fontUrl(file + ".woff")) format("woff"),
        url(fontUrl(file + ".ttf")) format("ttf")

// Placeholder

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

placeholder-focus()
  &:focus::-webkit-input-placeholder
    {block}
  &:focus:-moz-placeholder
    {block}
  &:focus::-moz-placeholder
    {block}
  &:focus:-ms-input-placeholder
    {block}

// input

input()
  padding rem(5px) rem(12px)
  border 1px solid transparent
  background-color light-grey
  font-size rem(14px)
  font-family "Source Sans Pro", "Arial", sans-serif
  letter-spacing rem(0.14px)
  text-overflow ellipsis
  +placeholder()
    color dark-grey-text
    transition color 0.3s ease
  +placeholder-focus()
    color transparent

// Adaptive height

square()
  overflow hidden
  &:before
    content ""
    padding-top 100%
    float left

rectangle(percent)
  overflow hidden
  &:before
    content ""
    padding-top "%s%" % percent
    float left

// Break-word

break-word()
  overflow-wrap break-word
  word-wrap break-word
  hyphens auto

// Search clear button

remove-clear-button()
  input[type="text"]::-ms-clear
  input[type="text"]::-ms-reveal
  input[type="search"]::-ms-clear
  input[type="search"]::-ms-reveal
    display none
    width  0
    height 0
  input[type="search"]::-webkit-search-decoration
  input[type="search"]::-webkit-search-cancel-button
  input[type="search"]::-webkit-search-results-button
  input[type="search"]::-webkit-search-results-decoration
    display none

