mixin wrapper
    .wrapper
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', 'small', 'secondary')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', '', 'secondary')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', 'small')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', 'small', 'secondary-shadow')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', '', 'secondary-shadow')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', '', 'primary-shadow')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', 'small', 'primary-shadow')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', 'small', 'transparent-secondary')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', '', 'transparent-secondary')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', '', 'transparent-primary')
        .wrapper__col.wrapper__col_size_3
            include standart-buttons/standart-buttons
            +button('BUTTON', 'small', 'transparent-primary')