include subheading/subheading
include standart-buttons/standart-buttons
include arrow-button/arrow-button
include percentages-and-charts/percentages-and-charts
include sliders/sliders
include stage/stage
include form-elements/form-elements
include search-dropdown-user/search-dropdown-user
include news-and-events/news-and-events
include location/location
include calendar-and-messaging/calendar-and-messaging
include video/video

mixin wrapper
    .wrapper
        +standartButtons
        .arrow-buttons__container
            +subheading('ARROW BUTTONS')
            +arrowButton('transparent-secondary', 'left-secondary')
            +arrowButton('transparent-secondary', 'right-secondary')
            +arrowButton('transparent-secondary', 'left-secondary', true)
            +arrowButton('transparent-secondary', 'right-secondary', true)
            +arrowButton('transparent-secondary', 'left-secondary')
            +arrowButton('transparent-secondary', 'right-secondary')
        .percentages-and-charts__container
            +percentagesAndCharts
        .sliders-block__container
            +subheading('SLIDERS')
            +sliders
        .stages__container
            +subheading('STAGES')
            +stage(5, 3)
        .form-elements__container
            +subheading('FORM ELEMENTS')
            +form-elements
        .search-dropdown-user__container
            +searchDropdownUser
        +newsAndEvents
        .location__container
            +subheading('LOCATION')
            +location
        +calendarAndMessaging
        .video__container
            +video

