include subheading/subheading
include standart-buttons/standart-buttons

mixin wrapper
    .wrapper
        .standard-buttons__container
            +subheading('STANDARD BUTTONS')
            +button('BUTTON', 'small', 'secondary')
            +button('BUTTON', '', 'secondary')
            +button('BUTTON')
            +button('BUTTON', 'small')
        .standard-buttons__container
            +button('BUTTON', 'small', 'secondary-shadow')
            +button('BUTTON', '', 'secondary-shadow')
            +button('BUTTON', '', 'primary-shadow')
            +button('BUTTON', 'small', 'primary-shadow')
        .standard-buttons__container
            +button('BUTTON', 'small', 'transparent-secondary')
            +button('BUTTON', '', 'transparent-secondary')
            +button('BUTTON', '', 'transparent-primary')
            +button('BUTTON', 'small', 'transparent-primary')
        .arrow-buttons__container
            +subheading('ARROW BUTTONS')
            include arrow-button/arrow-button
            +arrowButton('transparent-secondary', 'left-secondary')
            +arrowButton('transparent-secondary', 'right-secondary')
            +arrowButton('transparent-secondary', 'left-secondary', true)
            +arrowButton('transparent-secondary', 'right-secondary', true)
            +arrowButton('transparent-secondary', 'left-secondary')
            +arrowButton('transparent-secondary', 'right-secondary')
        .percentages__container
            include percentages/percentages-block
            +percentagesBlock
