include subheading/subheading
include standart-buttons/standart-buttons
include arrow-button/arrow-button
include percentages-and-charts/percentages-and-charts
include sliders/sliders
include stage/stage
include form-elements/form-elements
include search-dropdown-user/search-dropdown-user
include news-and-events/news-and-events    

mixin wrapper
    .wrapper
        .standard-buttons__container
            +subheading('STANDARD BUTTONS')
            +button('BUTTON', 'small', 'secondary')
            +button('BUTTON', '', 'secondary')
            +button('BUTTON')
            +button('BUTTON', 'small')
        .standard-buttons__container
            +button('BUTTON', 'small', 'secondary-shadow')
            +button('BUTTON', '', 'secondary-shadow')
            +button('BUTTON', '', 'primary-shadow')
            +button('BUTTON', 'small', 'primary-shadow')
        .standard-buttons__container
            +button('BUTTON', 'small', 'transparent-secondary')
            +button('BUTTON', '', 'transparent-secondary')
            +button('BUTTON', '', 'transparent-primary')
            +button('BUTTON', 'small', 'transparent-primary')
        .arrow-buttons__container
            +subheading('ARROW BUTTONS')
            +arrowButton('transparent-secondary', 'left-secondary')
            +arrowButton('transparent-secondary', 'right-secondary')
            +arrowButton('transparent-secondary', 'left-secondary', true)
            +arrowButton('transparent-secondary', 'right-secondary', true)
            +arrowButton('transparent-secondary', 'left-secondary')
            +arrowButton('transparent-secondary', 'right-secondary')
        .percentages-and-charts__container
            +percentagesAndCharts
        .sliders-block__container
            +subheading('SLIDERS')
            +sliders
        .stages__container
            +subheading('STAGES')
            +stage(5, 3)
        .form-elements__container
            +subheading('FORM ELEMENTS')
            +form-elements
        .search-dropdown-user__container
            +searchDropdownUser
        +newsAndEvents
