include subheading/subheading
include standart-buttons/standart-buttons
include arrow-buttons/arrow-buttons
include percentages-and-charts/percentages-and-charts
include sliders/sliders
include stages/stages
include form-elements/form-elements
include search-dropdown-user/search-dropdown-user
include news-and-events/news-and-events
include location/location
include calendar-and-messaging/calendar-and-messaging
include video/video

mixin wrapper
    .wrapper
        +standartButtons
        +arrowButtons
        +percentagesAndCharts
        +sliders
        +stages
        +form-elements
        .search-dropdown-user__container
            +searchDropdownUser
        +newsAndEvents
        .location__container
            +subheading('LOCATION')
            +location
        +calendarAndMessaging
        .video__container
            +video

