include ../../templates/head
include ../subheading/subheading
include ../ui-kit-standart-buttons/ui-kit-standart-buttons
include ../ui-kit-arrow-buttons/ui-kit-arrow-buttons
include ../ui-kit-percentages-and-charts/ui-kit-percentages-and-charts
include ../ui-kit-sliders/ui-kit-sliders
include ../ui-kit-stages/ui-kit-stages
include ../ui-kit-form-elements/ui-kit-form-elements
include ../ui-kit-search-dropdown-user/ui-kit-search-dropdown-user
include ../ui-kit-news-and-events/ui-kit-news-and-events
include ../ui-kit-location/ui-kit-location
include ../ui-kit-calendar-and-messaging/ui-kit-calendar-and-messaging
include ../ui-kit-video/ui-kit-video

doctype html
html
  +head
  body
    .body-wrapper
      .ui-kit
        +uiKitStandartButtons
        +uiKitArrowButtons
        +uiKitPercentagesAndCharts
        +uiKitSliders
        +uiKitStages
        +uiKitFormElements
        +uiKitSearchDropdownUser
        +uiKitNewsAndEvents
        +uiKitLocation
        +uiKitCalendarAndMessaging
        +uiKitVideo

