include ../subheading/subheading
include ../ui-kit-standart-buttons/ui-kit-standart-buttons
include ../ui-kit-arrow-buttons/ui-kit-arrow-buttons
include ../ui-kit-percentages-and-charts/ui-kit-percentages-and-charts
include ../ui-kit-sliders/ui-kit-sliders
include ../ui-kit-stages/ui-kit-stages
include ../ui-kit-form-elements/ui-kit-form-elements
include ../ui-kit-search-dropdown-user/ui-kit-search-dropdown-user
include ../ui-kit-news-and-events/ui-kit-news-and-events
include ../ui-kit-location/ui-kit-location
include ../ui-kit-calendar-and-messaging/ui-kit-calendar-and-messaging
include ../ui-kit-video/ui-kit-video

doctype html
html
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  meta(name="keywords", content="ui-kit")
  meta(name="description", content="Ui-kit for developing web interfaces")
  meta(name="msapplication-TileColor" content="#9f00a7")
  meta(name="theme-color" content="#ffffff")
  title FlatUI
  script( src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/site.webmanifest")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
  body
    .body-wrapper
      main.ui-kit
        +uiKitStandartButtons
        +uiKitArrowButtons
        +uiKitPercentagesAndCharts
        +uiKitSliders
        +uiKitStages
        +uiKitFormElements
        +uiKitSearchDropdownUser
        +uiKitNewsAndEvents
        +uiKitLocation
        +uiKitCalendarAndMessaging
        +uiKitVideo

