include ../player/player

mixin uiKitVideo
  section.ui-kit-video
    .ui-kit-video__title-container
      +subheading('VIDEO')
    +player(
      'http://viktoriya-chernenko.tk/video/Landscapes-Volume-Two.mp4',
      'New Zealand Landscapes Timelapse',
      'from Bevan Percival'
    )

