.account-statistic
  display flex
  flex-wrap wrap
  align-items center
  margin 0 auto
  overflow hidden
  +sm()
    max-width 500px
  &__col
    width 50%
    padding-right rem(10px)
    +xxs()
      width 80%
      margin 0 auto
  &__list
    list-style-type none
    font-size rem(20px)
    font-weight 900
    +xxs()
      margin-bottom rem(40px)
      text-align center
    &-item
      margin-bottom rem(10px)
      &_color
        &_grey
          color grey
        &_red
          color primary-color
        &_green
          color secondary-color
        &_light-grey
          color light-grey-text
