extends ../../templates/template

include ../../components/main-title/main-title
include ../../components/map/map
include ../../components/contact-from/contact-form

block append meta
  meta(name="keywords", content="Address of freelance-exchange, " +
      "freelance-exchange in Moscow, freelance-exchange in Kiev")
  meta(name="description", content="Find contacts of the " +
      "exchange of freelancers in Moscow and Kiev")

block title
  title Contact us

block content
  main.contact
    .contact__title-container
      +main-title({ title: "contact us", tag: "h1" })
    .contact__container
      .contact__col.contact__col_big
        .contact__map-container
          +map({state: "1259  California St", city: "San Francisco, CA"})
        h2.contact__subtitle.
          Contact us through this form, we will answer!
        +contact-form({isAutofocus: true})
      .contact__col.contact__col_small
        h2.contact__subtitle How contact us
        ul.contact__list
          li.contact__list-item
            span.contact__list-title Address:
            | 1259 California St,
            | San Francisco, CA
          li.contact__list-item
            span.contact__list-title Email:
            a.contact__list-link(href="mailto: exchange@gmail.com") exchange@gmail.com
          li.contact__list-item
            span.contact__list-title Phone:
            a.contact__list-link(href="tel: +78001234567") 8-800-123-45-67
          li.contact__list-item
            span.contact__list-title Skype:
            a.contact__list-link(href="skype: exchange2018?call") exchange2018
        h2.contact__subtitle Our office in Moscow
        ul.contact__list
          li.contact__list-item
            span.contact__list-title Address:
            | Moscow,
            | Lenina St, 105
          li.contact__list-item
            span.contact__list-title Email:
            a.contact__list-link(href="mailto: exchange@gmail.com") exchange@gmail.com
          li.contact__list-item
            span.contact__list-title Phone:
            a.contact__list-link(href="tel: +78001234567") 8-800-123-45-67
          li.contact__list-item
            span.contact__list-title Skype:
            a.contact__list-link(href="skype: exchange2018?call") exchange2018
        h2.contact__subtitle Our office in Kiev
        ul.contact__list
          li.contact__list-item
            span.contact__list-title Address:
            | Kiev,
            | Lenina St, 105
          li.contact__list-item
            span.contact__list-title Email:
            a.contact__list-link(href="mailto: exchange@gmail.com") exchange@gmail.com
          li.contact__list-item
            span.contact__list-title Phone:
            a.contact__list-link(href="tel: +78001234567") 8-800-123-45-67
          li.contact__list-item
            span.contact__list-title Skype:
            a.contact__list-link(href="skype: exchange2018?call") exchange2018