mixin indexNews
    .index-news
        +subheading('latest news')
        .index-news__container
            +news(
                'news-1',
                'It’s all going downhill',
                '24  AUGUST  2013',
                'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                'nunc, a tincidunt eros.'
            )
            +news(
                'news-2',
                'It’s all going downhill',
                '24  AUGUST  2013',
                'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                'nunc, a tincidunt eros.'
            )
            +news(
                'news-1',
                'It’s all going downhill',
                '24  AUGUST  2013',
                'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                'nunc, a tincidunt eros.'
            )
            +news(
                'news-2',
                'It’s all going downhill',
                '24  AUGUST  2013',
                'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                'nunc, a tincidunt eros.'
            )
            +news(
                'news-1',
                'It’s all going downhill',
                '24  AUGUST  2013',
                'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                'nunc, a tincidunt eros.'
            )
            +news(
                'news-2',
                'It’s all going downhill',
                '24  AUGUST  2013',
                'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                'nunc, a tincidunt eros.'
            )


