.index-news
  &__container
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    padding: 0 10px
  .news
    width: 30%
    margin: 0 0 40px
    +md()
      width: 45%
    +sm()
      width: 90%
    +xxs()
      width: 100%
