include ../arrow-button/arrow-button

mixin uiKitArrowButtons
  section.ui-kit-arrow-buttons
    .ui-kit-arrow-buttons__title-container
      +subheading('ARROW BUTTONS')
    .ui-kit-arrow-buttons__buttons-container
      +arrowButton('transparent-secondary', 'left-secondary')
      +arrowButton('transparent-secondary', 'right-secondary')
      +arrowButton('transparent-secondary', 'left-secondary', true)
      +arrowButton('transparent-secondary', 'right-secondary', true)
      +arrowButton('transparent-secondary', 'left-secondary')
      +arrowButton('transparent-secondary', 'right-secondary')