include ../arrow-button/arrow-button

mixin uiKitArrowButtons
  section.ui-kit-arrow-buttons
    .ui-kit-arrow-buttons__title-container
      +subheading("arrow buttons")
    .ui-kit-arrow-buttons__buttons-container
      +arrowButton("transparent", "left")
      +arrowButton("transparent", "right")
      +arrowButton("transparent", "left", true)
      +arrowButton("transparent", "right", true)
      +arrowButton("transparent", "left")
      +arrowButton("transparent", "right")