extends ../../templates/template

include ../../components/page-header/page-header
include ../../components/title/title
include ../../components/player/player
include ../../components/tariff-plan/tariff-plan
include ../../components/news/news

block append meta
  meta(name="keywords", content="freelance-exchange, online job, remote fob")
  meta(name="description", content="Remote job search for freelancer, " +
      "developer, designer, copywriter")

block title
  title Freelance-exchange

block content
  +page-header
  .index__content
    .index__title
      +title({ title: "choose your tariff plan", tag: "h2" })
    +tariff-plan
  .index__stretching-content
    .index__about
      .index__title
        +title({ title: "how it works?", color: "light", tag: "h2" })
      +player({
        src: "http://viktoriya-chernenko.tk/video/Landscapes-Volume-Two.mp4",
        title: "About our awesome company",
        author: "freelance exchange"
      })
  .index__content
    section.index__news
      .index__title
        +title({ title: "latest news", tag: "h2" })
      .index__news-container
        .index__news-col
          +news({
            image: "images/news-3.jpg",
            title: "Top 5 professions in freelance",
            date: "24  november  2018",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
                "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
                "nunc, a tincidunt eros."
          })
        .index__news-col
          +news({
            image: "images/news-7.jpg",
            title: "How to prepare for an interview",
            date: "23  november  2018",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
                "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
                "nunc, a tincidunt eros."
          })
        .index__news-col
          +news({
            image: "images/news-4.jpg",
            title: "Work without leaving home",
            date: "22  november  2018",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
                "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
                "nunc, a tincidunt eros."
          })
        .index__news-col
          +news({
            image: "images/news-5.jpg",
            title: "What the designer should know",
            date: "21  november  2018",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
                "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
                "nunc, a tincidunt eros."
          })
        .index__news-col
          +news({
            image: "images/news-2.jpg",
            title: "It’s all going downhill",
            date: "19  november  2018",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
                "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
                "nunc, a tincidunt eros."
          })
        .index__news-col
          +news({
            image: "images/news-6.jpg",
            title: "How to become freelancer",
            date: "20  november  2018",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing " +
                "elit. Sed condimentum aliquet venenatis. Etiam a nisi " +
                "nunc, a tincidunt eros."
          })






