.index
  &__about
    max-width 800px
    padding-bottom rem(40px)
  &__news-container
    display flex
    flex-wrap wrap
    padding 0 rem(10px)
    +sm()
      justify-content center
  &__news-col
    display flex
    width 33.33333333333333%
    padding 0 rem(20px) rem(40px)
    +md()
      width 50%
    +sm()
      width 90%
    +xxs()
      width 100%