.ui-kit-sliders
  &__title-container
    margin: 24px 0 36px
  &__container
    display: flex
    flex-wrap: wrap
    padding: 0 rem(10px)
  &__col
    width: 50%
    flex-shrink 0
    &:first-child
      padding-right: 6%
    &:last-child
      padding-left: 6%
    +xs()
      width: 100%
      &:first-child
        margin-bottom: 40px
        padding-right: 0
      &:last-child
        padding-left: 0