include ../arrow-button/arrow-button
include ../button/button

mixin page-nav
  nav.page-nav
    +arrow-button({background: "transparent", direction: "left", size: "small"})
    .page-nav__buttons
      .page-nav__button-container
        +button({
          text: "1",
          size: "small",
          background: "secondary"
        })
      .page-nav__button-container
        +button({
          text: "2",
          size: "small",
          background: "transparent-secondary"
        })
      .page-nav__button-container
        +button({
          text: "3",
          size: "small",
          background: "transparent-secondary"
        })
      .page-nav__button-container
        +button({
          text: "4",
          size: "small",
          background: "transparent-secondary"
        })
      .page-nav__button-container
        +button({
          text: "5",
          size: "small",
          background: "transparent-secondary"
        })
    +arrow-button({background: "transparent", direction: "right", size: "small"})