include ../arrow-button/arrow-button
include ../button/button

mixin page-nav
  nav.page-nav
    +arrowButton("transparent", "left", false, "small")
    .page-nav__buttons
      .page-nav__button-container
        +button({
          text: "1",
          size: "small",
          bg: "secondary"
        })
      .page-nav__button-container
        +button({
          text: "2",
          size: "small",
          bg: "transparent-secondary"
        })
      .page-nav__button-container
        +button({
          text: "3",
          size: "small",
          bg: "transparent-secondary"
        })
      .page-nav__button-container
        +button({
          text: "4",
          size: "small",
          bg: "transparent-secondary"
        })
      .page-nav__button-container
        +button({
          text: "5",
          size: "small",
          bg: "transparent-secondary"
        })
    +arrowButton("transparent", "right", false, "small")