mixin title({ title, tag="h1", color })
  -
    const tags = {
      h1: "h1",
      h2: "h2",
      h3: "h3",
      h4: "h4",
      h5: "h5",
      h6: "h6"
    }

    const colorModifiers = {
      light: "title_light"
    }

  #{tags[tag] || "h1"}.title(class=colorModifiers[color] || "")= title