//#custom-handle {
//  width: 3em;
//  height: 1.6em;
//  top: 50%;
//  margin-top: -.8em;
//  text-align: center;
//  line-height: 1.6em;
//}

.ui-widget.ui-widget-content
  height: 5px
  background-color light-grey
  border: none

.ui-state-default, .ui-widget-content .ui-state-default
  top: -0.5em
  width: 20px
  height: 20px
  border-radius: 50%
  background: primary-color
  border none

.slider
  &_progress-bg_secondary .ui-slider-range
  &_progress-bg_secondary .ui-state-default
  &_progress-bg_secondary .ui-widget-content .ui-state-default
    background: secondary-color
  &__scale
    list-style-type none
    display: flex
    justify-content: space-between
    margin-top: 9px
    font-size 11px
    font-weight: 900
    letter-spacing 0.55px
    color light-grey-text

.slider__tip
  position: absolute
  top: -33px
  left: -8px
  width 35px
  padding: 6px 0 4px
  border-radius: 5px
  font-weight: 700
  font-size 13px
  text-align: center
  letter-spacing 0.65px
  color #fff
  background: primary-color
  &:after
    content: ''
    position: absolute
    bottom: -4px
    left: 14px
    width: 7px
    height: 7px
    transform rotate(45deg)
    background: primary-color





