include ../user/user
include ../button/button

mixin freelancers-list
  ul.freelancers-list
    li.freelancers-list__item
      .freelancers-list__user
        +user({imageSrc: "user-1", name: "John Smith", profession: "ux designer"})
      .freelancers-list__item-footer
        span.freelancers-list__notification Best freelancer!
        .freelancers-list__button
          +button({
            text: "hire",
            background: "primary-with-shadow"
          })
    li.freelancers-list__item
      .freelancers-list__user
        +user({
          imageSrc: "user-2",
          name: "Sarah Brown",
          profession: "developer",
          backgroundColor: "secondary"
        })
      .freelancers-list__item-footer
        .freelancers-list__button
          +button({
            text: "hire",
            background: "transparent-secondary"
          })
    li.freelancers-list__item
      .freelancers-list__user
        +user({
          imageSrc: "user-3",
          name: "Jane Taylor",
          profession: "seo copywriter",
          backgroundColor: "secondary"
        })
      .freelancers-list__item-footer
        .freelancers-list__button
          +button({
            text: "hire",
            background: "transparent-secondary"
          })
    li.freelancers-list__item
      .freelancers-list__user
        +user({
          imageSrc: "user-4",
          name: "Grace Peters",
          profession: "developer",
          backgroundColor: "secondary"
        })
      .freelancers-list__item-footer
        .freelancers-list__button
          +button({
            text: "hire",
            background: "transparent-secondary"
          })
    li.freelancers-list__item
      .freelancers-list__user
        +user({imageSrc: "user-5", name: "David Walton", profession: "developer"})
      .freelancers-list__item-footer
        span.freelancers-list__notification Best freelancer!
        .freelancers-list__button
          +button({
            text: "hire",
            background: "primary-with-shadow"
          })
    li.freelancers-list__item
      .freelancers-list__user
        +user({
          imageSrc: "user-6",
          name: "Peter Hoover",
          profession: "developer",
          backgroundColor: "secondary"
        })
      .freelancers-list__item-footer
        .freelancers-list__button
          +button({
            text: "hire",
            background: "transparent-secondary"
          })
    li.freelancers-list__item
      .freelancers-list__user
        +user({
          imageSrc: "user-7",
          name: "George Dalton",
          profession: "designer",
          backgroundColor: "secondary"
        })
      .freelancers-list__item-footer
        .freelancers-list__button
          +button({
            text: "hire",
            background: "transparent-secondary"
          })
    li.freelancers-list__item
      .freelancers-list__user
        +user({imageSrc: "user-8", name: "Mary Charles", profession: "seo copywriter"})
      .freelancers-list__item-footer
        span.freelancers-list__notification Best freelancer!
        .freelancers-list__button
          +button({
            text: "hire",
            background: "primary-with-shadow"
          })