@import "../../styles/variables.styl"

.freelancers-list
  display flex
  flex-wrap wrap
  list-style-type none

  +xs()
    flex-direction column
    align-items center

  &__item
    display flex
    flex-direction column
    align-items stretch
    width 29%
    margin 0 2.166666666666667% 60px
    padding-bottom 10px
    border-bottom 1px solid light-grey-text

    +md()
      width 42%
      margin 0 4% 60px

    +sm()
      width 38%
      margin 0 6% 60px

    +xs()
      width 100%
      max-width 300px
      margin 0 0 60px

    &-footer
      display flex
      justify-content space-between
      align-items center
      margin-top auto

  &__user
    margin 0 0 10px

  &__notification
    margin-right 10px
    color primary-color

  &__button
    margin-left auto

