.account
  display flex
  flex-wrap wrap
  padding 80px 10px
  &__col
    width 50%
    +sm()
      width 100%
    &:first-child
      padding-right 5%
      +sm()
        padding-right 0
    &:last-child
      padding-left 5%
      +sm()
        padding-left 0
  &__title
    margin 0.83em 0