extends ../../templates/template

include ../subheading/subheading
include ../user/user
include ../account-settings/account-settings
include ../account-statistic/account-statistic
include ../account-deadlines/account-deadlines
include ../page-footer/page-footer

block append meta
  meta(name="keywords", content="Account, account settings, account statistic")
  meta(name="description", content="Create and set up your account on our " +
      "freelancers exchange")

block title
  title Account

block content
  .container
    main.account
      .account__col
        .account__title
          +subheading('your account', 'h1')
        +user('user-6', 'Peter Brown', 'DEVELOPER', '', 'big')
        .account__title
          +subheading('settings')
        +accountSettings
      .account__col
        .account__title
          +subheading('statistic')
        +accountStatistic
        .account__title
          +subheading('deadlines statistic')
        +accountDeadlines


