extends ../../templates/template

include ../subheading/subheading
include ../user/user
include ../account-settings/account-settings
include ../account-statistic/account-statistic
include ../account-deadlines/account-deadlines
include ../page-footer/page-footer

block append meta
  meta(name="keywords", content="Account, account settings, account statistic")
  meta(name="description", content="Create and set up your account on our " +
      "freelancers exchange")

block title
  title Account

block content
  .container
    main.account
      .account__col.account__col_left
        .account__title-container
          +subheading("your account", "h1")
        +user("user-6", "Peter Brown", "developer", "", "big")
        .account__title-container
          +subheading("settings")
        +accountSettings
      .account__col.account__col_right
        .account__title-container
          +subheading("statistic")
        +accountStatistic
        .account__title-container
          +subheading("deadlines statistic")
        +accountDeadlines


