extends ../../templates/template

include ../subheading/subheading
include ../user/user
include ../account-settings/account-settings
include ../account-statistic/account-statistic
include ../account-deadlines/account-deadlines
include ../page-footer/page-footer

block content
    .container
        main.account
            .account__col
                +subheading('your account')
                +user('user-6', 'Peter Brown', 'DEVELOPER', '', 'big')
                +subheading('settings')
                +accountSettings
            .account__col
                +subheading('statistic')
                +accountStatistic
                +subheading('deadlines statistic')
                +accountDeadlines


