mixin location
    .map
    .map__footer
        h3.map__title Meet us!
        p.map__adress
            span.map__adress--span 1259  CALIFORNIA ST
            span.map__adress--span San Francisco, CA
        .map__buttons
            button.map__geolocation
            button.map__add
