.percentage
  flex-shrink: 0
  width: 16.32%
  position: relative
  overflow: hidden
  &:before
    content: ''
    float: left
    padding-top: 100%
  &__bar
    stroke: primary-color
    stroke-width: 10px
    stroke-dashoffset: 0
    transform rotate(-90deg)
    transform-origin center center
    transition: stroke-dashoffset 1s linear
  &__value
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    padding-top: 25%
    text-align: center
    font-weight: 300
    font-size 40px
    color grey-text
  +xs()
    width: 27%
    margin: 20px 3%
  +xxs()
    width: 60%
    margin: 20px 0
