.filter
  &__row
    margin-bottom rem(30px)
    &_with-flex
      display flex
      justify-content space-between
  &__subtitle
    display inline-block
    margin 0 rem(10px) rem(20px) 0
    font-size rem(18px)
    font-weight 700
  .tick-box
    flex-shrink 0