.header
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: center
  align-content: center
  height: 100vh
  background: #009688
  &__menu-container
    z-index: 9999
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: #00796B
  &__menu-container-flex
    display: flex
    justify-content: space-between
  &__title
    max-width: 800px
    font-size: 4.5vw
    text-align: center
    color #ffffff
    font-weight: 300
  &__search-container
    width: 100%
    max-width: 600px
  &__search-title
    margin-bottom: 10px
    font-size: 18px
    color: #ffffff
