include ../main-menu/main-menu
include ../../wrapper/search-dropdown-user/search/search

mixin header(isIndex)
    header.header
        +mainMenu
        h1.header__title Welcome to our awesome freelance-exchange!
        .header__search-container
            p.header__search-title Find new orders!
            +search('search orders...')