.header
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  height: 100vh
  background: #009688
  &__menu-container
    width: 100%
    background: #00796B
  &__menu-container-flex
    display: flex
    justify-content: space-between
  &__title
    max-width: 800px
    margin: 0 auto
    font-size: 5vw
    text-align: center
    color #ffffff
    font-weight: 300