.pie-chart
  max-width: 95px

.ct-series-a .ct-slice-donut
  stroke grey
.ct-series-b .ct-slice-donut
  stroke primary-color
.ct-series-c .ct-slice-donut
  stroke secondary-color
.ct-series-d .ct-slice-donut
  stroke light-grey

.ct-series .ct-slice-donut
  stroke-width: 16px !important