.jchart--donut--segment, .jchartpie--segment {
  transition: stroke-dasharray 1s ease;
}

.jchart {
  width: 110px;
  height: 110px;
}

.jchart--body {
  width: 100%;
  height: 100%;
}

.jchart__donut__ringjchart__donut__ring-circle
  fill: transparent