.pie-chart
  flex-shrink: 0
  width: 16.32%
  height: 100%
  position: relative
  overflow: hidden
  +xs()
    width: 27%
    margin: 20px 3%
  +xxs()
    width: 60%
    margin: 20px 0
  .ct-series-a .ct-slice-donut
    stroke grey
  .ct-series-b .ct-slice-donut
    stroke primary-color
  .ct-series-c .ct-slice-donut
    stroke secondary-color
  .ct-series-d .ct-slice-donut
    stroke light-grey
  .ct-series .ct-slice-donut
    stroke-width: 16px !important