include ../messaging/messaging

mixin page-messaging
  .page-messaging.js-page-messaging
    .page-messaging__container.js-page-messaging__container
      +messaging
    .page-messaging__button.js-page-messaging__button
      i(class="far fa-comments")