@import "../../styles/variables.styl"

.page-messaging
  display flex
  flex-direction column
  z-index 999999999999
  max-width 300px
  position fixed
  right 0
  bottom 0
  margin rem(5px)

  &__container
    display none

    &_closed
      animation hideMessaging 0.3s ease

    &_opened
      visibility hidden

    &_opened-active
      animation showMessaging 0.3s ease

  &__button
    align-self flex-end
    display inline-block
    width rem(50px)
    height rem(50px)
    margin-top rem(5px)
    border-radius 50%
    font-size rem(25px)
    text-align center
    color white
    background secondary-color
    cursor pointer
    transition all 0.3s ease

    &:hover
      background page-dark-background

  .far
  .fas
    margin 50% 0 0
    transform translate(0, -50%)

@keyframes showMessaging
  from
    transform scale(0)
    opacity 0

  to
    transform scale(1)
    opacity 1

@keyframes hideMessaging
  from
    transform scale(1)
    opacity 1

  to
    transform scale(0)
    opacity 0