.page-messaging
  z-index 999999999999
  max-width 300px
  position fixed
  right 0
  bottom 0
  margin rem(5px)
  text-align right
  .messaging
    display none
  &__button
    display inline-block
    width rem(50px)
    height rem(50px)
    margin-top rem(5px)
    padding rem(10px) rem(12px)
    border-radius 50%
    font-size rem(25px)
    text-align center
    color #fff
    background secondary-color
    cursor pointer
    transition all 0.3s ease
    &:hover
      background #00796B
  .far
  .fas
    width auto
    margin 0