mixin percentagesBlock
    span.pr.around
        span.outer
            span.value 0
            br
            .
                %
    span.pr.around
        span.outer
            span.value 38
            br
            .
                %
    span.pr.around
        span.outer
            span.value 62
            br
            .
                %
    span.pr.around
        span.outer
            span.value 89
            br
            .
                %



