include ../../ui-kit-components/button/button

mixin menu(items)
  ul.menu
    each item in items
      li.menu__item
        .menu__button
          +button({
            text: item[0],
            background: "secondary",
            length: "short",
            isFluid: true,
            tag: "a",
            href: item[1] + ".html"
          })