include ../search/search

mixin page-header
  header.page-header
    h1.page-header__title Welcome to our awesome freelance-exchange!
    .page-header__search-container
      p.page-header__search-title Find new orders!
      +search({placeholderText: "search orders...", isAutofocus: true})