@import "../../styles/variables.styl"

.page-header
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content center
  align-content center
  min-height 100vh
  padding rem(100px) rem(10px)
  background page-background
  +md()
    height auto
    padding rem(100px) rem(10px) rem(70px)

  &__title
    max-width 65vw
    font-size 4.5vw
    text-align center
    color white
    font-weight 300
    +xs()
      font-size 5.5vw
    +xxs()
      max-width 85vw
      font-size 7.5vw

  &__search-container
    width 100%
    max-width 50vw
    +xs()
      max-width 80%

  &__search-title
    margin-bottom rem(10px)
    font-size rem(18px)
    color white
    +sm()
      font-size rem(16px)
