include ../contact-from/contact-form
include ../toggle/toggle
include ../subheading/subheading
include ../tick-box/tick-box

mixin uiKitFormElements
  section.ui-kit-form-elements
    .ui-kit-form-elements__title-container
      +subheading("form elements")
    .ui-kit-form-elements__container
      .ui-kit-form-elements__col
        +contact-form
      .ui-kit-form-elements__col
        +subheading("toggles")
        +toggle
        +toggle(true)
        +subheading("tick boxes")
        +tickBox(true)
        +tickBox