.freelancers
  padding: 80px 10px
  &__container
    display: flex
    flex-wrap: wrap
  &__col
    &:first-child
      width: 25%
      padding-right: 3%
      +sm()
        order: 2
        width: 100%
        max-width: 450px
        margin: 0 auto
        padding-right: 0
      .subheading
        padding-bottom: 20px
      .slider
        margin: 30px 0 40px
      .button
        width: 100%
    &:last-child
      display: flex
      flex-wrap: wrap
      align-content flex-start
      width: 75%
      padding-left: 3%
      +sm()
        width: 100%
        padding-left: 0
      +xs()
        flex-direction: column
        align-items center
  &__main-title
    width: 100%
    margin: 0.83em 0
  &__subtitle
    display: inline-block
    margin: 0 10px 20px 0
    font-size: 18px
    font-weight: 700
  &__filter-row
    margin-bottom: 30px
    &_flex
      display: flex
      justify-content: space-between
  &__freelancer
    width: 29%
    margin: 0 2.166666666666667% 60px
    padding-bottom: 10px
    border-bottom: 1px solid light-grey-text
    +md()
      width: 42%
      margin: 0 4% 60px
    +sm()
      width: 38%
      margin: 0 6% 60px
    +xs()
      width: 100%
      max-width: 300px
      margin: 0 0 60px
    &-footer
      display: flex
      justify-content: space-between
      align-items: center
      color primary-color
    .button
      margin-left: auto
  .user
    margin-bottom: 10px
  .news-page__nav
    padding: 10px 0 0
    border-top: 1px solid light-grey-text
    &:nth-child(2)
      margin-bottom: 40px
      padding: 0 0 10px
      border-top: 0
      border-bottom: 1px solid light-grey-text
  .tick-box
    flex-shrink: 0




