extends ../../templates/template

include ../page-menu/page-menu
include ../subheading/subheading
include ../button/button
include ../arrow-button/arrow-button
include ../user/user
include ../search/search
include ../dropdown/dropdown
include ../tick-box/tick-box
include ../toggle/toggle
include ../slider/slider
include ../page-footer/page-footer

block append meta
  meta(name="keywords", content="Search freelancers, search " +
      "best freelancers, find a developer, find a designer, find " +
      "a seo copywriter")
  meta(name="description", content="Search for the best developers, " +
      "designers and copywriters throughout Russia at the best prices")

block title
  title Search freelancers

block content
  .freelancers
    .container.freelancers__container
      aside.freelancers__col
        +subheading("search")
        +search("Search freelancers")
        +subheading("filter")
        form.freelancers__filter(
          action="mock-address/change-me",
          method="get"
        )
          .freelancers__filter-row
            span.freelancers__subtitle Choose category
            +dropdown({
              "category-1": "Web design",
              "category-2": "HTML",
              "category-3": "CMS"
            },
            "Choose Category")
          .freelancers__filter-row
            span.freelancers__subtitle Min cost of work
            +slider(true, "", "", "10")
          .freelancers__filter-row
            span.freelancers__subtitle Max cost of work
            +slider(true, "", "", "90")
          .freelancers__filter-row.freelancers__filter-row_flex
            span.freelancers__subtitle Show busy freelancers
            +tickBox(true)
          .freelancers__filter-row.freelancers__filter-row_flex
            span.freelancers__subtitle Show only best freelancers
            +tickBox
          +button({
            text: "show results",
            bg: "primary",
            type: "submit"
          })
      main.freelancers__col
        .freelancers__main-title
          +subheading("search freelancers", "h1")
        nav.news-page__nav
          +arrowButton("transparent-secondary", "left-secondary", false, "small")
          .news-page__nav-buttons
            +button({
              text: "1",
              size: "small",
              bg: "secondary"
            })
            +button({
              text: "2",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "3",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "4",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "5",
              size: "small",
              bg: "transparent-secondary"
            })
          +arrowButton("transparent-secondary", "right-secondary", false, "small")
        ul.freelancers__list
          li.freelancers__freelancer
            +user("user-1", "John Smith", "UX DESIGNER")
            .freelancers__freelancer-footer
              span.freelancers__notification Best freelancer!
              +button({
                text: "hire",
                bg: "primary-shadow"
              })
          li.freelancers__freelancer
            +user("user-2", "Sarah Brown", "DEVELOPER", "secondary")
            .freelancers__freelancer-footer
              +button({
                text: "hire",
                bg: "transparent-secondary"
              })
          li.freelancers__freelancer
            +user("user-3", "Jane Taylor", "seo copywriter", "secondary")
            .freelancers__freelancer-footer
              +button({
                text: "hire",
                bg: "transparent-secondary"
              })
          li.freelancers__freelancer
            +user("user-4", "Grace Peters", "DEVELOPER", "secondary")
            .freelancers__freelancer-footer
              +button({
                text: "hire",
                bg: "transparent-secondary"
              })
          li.freelancers__freelancer
            +user("user-5", "David Walton", "DEVELOPER")
            .freelancers__freelancer-footer
              span.freelancers__notification Best freelancer!
              +button({
                text: "hire",
                bg: "primary-shadow"
              })
          li.freelancers__freelancer
            +user("user-6", "Peter Hoover", "DEVELOPER", "secondary")
            .freelancers__freelancer-footer
              +button({
                text: "hire",
                bg: "transparent-secondary"
              })
          li.freelancers__freelancer
            +user("user-7", "George Dalton", "DESIGNER", "secondary")
            .freelancers__freelancer-footer
              +button({
                text: "hire",
                bg: "transparent-secondary"
              })
          li.freelancers__freelancer
            +user("user-8", "Mary Charles", "seo copywriter")
            .freelancers__freelancer-footer
              span.freelancers__notification Best freelancer!
              +button({
                text: "hire",
                bg: "primary-shadow"
              })
        nav.news-page__nav
          +arrowButton("transparent-secondary", "left-secondary", false, "small")
          .news-page__nav-buttons
            +button({
              text: "1",
              size: "small",
              bg: "secondary"
            })
            +button({
              text: "2",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "3",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "4",
              size: "small",
              bg: "transparent-secondary"
            })
            +button({
              text: "5",
              size: "small",
              bg: "transparent-secondary"
            })
          +arrowButton("transparent-secondary", "right-secondary", false, "small")