@import "../../../styles/variables.styl"

.stage
  display flex
  justify-content space-between
  align-items center
  list-style-type none
  text-align center

  &__item
    flex-shrink 0
    width 29px
    height 29px
    border-radius 50%
    background-color primary-color
    font-size 14px
    color white
    transition all 0.3s ease-in-out

    +xxs()
      width 25px
      height 25px
      font-size 11px

    &_inactive
      background-color light-grey
      color dark-grey-text

    &-text
      display inline-block
      margin-top 50%
      transform translate(0, -50%)

  &__line
    width 100%
    border-bottom 5px solid primary-color
    transition all 0.3s ease-in-out

    &_inactive
      border-bottom-color light-grey