mixin stage({ length, fullLength })
  .stage
    .stage__item
      span.stage__item-text= 1
    - for (let i = 2; i <= length; i++)
      .stage__line(class= i > fullLength ? "stage__line_inactive" : "")
      .stage__item(class= i > fullLength ? "stage__item_inactive" : "")
        span.stage__item-text= i