@import "../../styles/variables.styl"

.statistic
  display flex
  flex-wrap wrap
  align-items center
  margin 0 auto

  +sm()
    max-width 500px

  &__col
    width 50%
    padding-right 10px

    +xxs()
      width 80%
      margin 0 auto
      padding-right 0

  &__list
    list-style-type none
    font-size 20px
    font-weight 900

    +xxs()
      margin-bottom 40px
      text-align center

    &-item
      margin-bottom 10px

      &_grey
        color grey

      &_red
        color primary-color

      &_green
        color secondary-color

      &_light-grey
        color light-grey-text
