.contact
  max-width: 900px
  padding: 80px 10px
  &__container
    //width: 50%
    display: flex
    flex-wrap: wrap
    margin: 0 auto
  &__col
    &:first-child
      width: 70%
      padding-right: 5%
      +sm()
        width: 100%
        max-width: 600px
        margin: 0 auto
        padding-right: 0
    &:last-child
      width: 30%
      +sm()
        width: 100%
        max-width: 600px
        margin: 0 auto
        padding-left: 0
  &__subtitle
    margin: 10px 0 20px
    font-size: 22px
  &__list
    margin-bottom: 40px
    list-style-type: none
    font-size: 18px
    &-item
      margin-bottom: 5px
      break-word()
  &__list-span
    display: inline-block
    margin-right: 10px
    font-weight: 900
  &__list-link
    color dark-secondary-color
    text-decoration: none
    transition 0.2s ease
    &:hover
      color #000000
  .map__container
    margin-bottom: 40px




