extends ../../templates/template

include ../page-menu/page-menu
include ../subheading/subheading
include ../map/map
include ../contact-from/contact-form
include ../page-footer/page-footer

block append meta
  meta(name="keywords", content="Address of freelance-exchange, " +
      "freelance-exchange in Moscow, freelance-exchange in Kiev")
  meta(name="description", content="Find contacts of the " +
      "exchange of freelancers in Moscow and Kiev")

block title
  title Contact us

block content
  main.container.contact
    +subheading("contact us", "h1")
    .contact__container
      .contact__col
        +map
        h2.contact__subtitle.
          Contact us through this form, we will answer!
        +contact-form(false, true, true)
      .contact__col
        h2.contact__subtitle How contact us
        ul.contact__list
          li.contact__list-item
            span.contact__list-span Address:
            | 1259 California St,
            | San Francisco, CA
          li.contact__list-item
            span.contact__list-span Email:
            | exchange@gmail.com
          li.contact__list-item
            span.contact__list-span Phone:
            | 8-800-123-45-67
          li.contact__list-item
            span.contact__list-span Skype:
            | exchange2018
        h2.contact__subtitle Our office in Moscow
        ul.contact__list
          li.contact__list-item
            span.contact__list-span Address:
            | Moscow,
            | Lenina St, 105
          li.contact__list-item
            span.contact__list-span Email:
            | exchange@gmail.com
          li.contact__list-item
            span.contact__list-span Phone:
            | 8-800-123-45-67
          li.contact__list-item
            span.contact__list-span Skype:
            | exchange2018
        h2.contact__subtitle Our office in Kiev
        ul.contact__list
          li.contact__list-item
            span.contact__list-span Address:
            | Kiev,
            | Lenina St, 105
          li.contact__list-item
            span.contact__list-span Email:
            | exchange@gmail.com
          li.contact__list-item
            span.contact__list-span Phone:
            | 8-800-123-45-67
          li.contact__list-item
            span.contact__list-span Skype:
            | exchange2018