.account-deadlines
  display flex
  flex-wrap wrap
  &__col
    display flex
    flex-direction column
    justify-content space-between
    width 33.33333333333333%
    padding 0 5%
    +xxs()
      width 70%
      margin 0 auto rem(60px)
      padding 0
      &:last-child
        margin-bottom 0
  &__title
    margin-bottom rem(30px)
    font-size rem(18px)
    text-align center
    +xxs()
      margin-bottom rem(50px)
