.account-deadlines
  display flex
  flex-wrap wrap
  width 100%
  &__col
    width 33.33333333333333%
    padding 0 5%
    +xxs()
      width 70%
      margin 0 auto rem(60px)
      padding 0
      &:last-child
        margin-bottom 0
  &__title
    min-height rem(40px)
    margin-bottom rem(20px)
    font-size rem(18px)
    text-align center
    +xxs()
      min-height auto
      margin-bottom rem(50px)
