include ../percentage/percentage

mixin accountDeadlines
    section.account-deadlines
        .account-deadlines__col
            h3.account-deadlines__title Ahead of time
            +percentage(30)
        .account-deadlines__col
            h3.account-deadlines__title On time
            +percentage(70)
        .account-deadlines__col
            h3.account-deadlines__title Expired
            +percentage(0)