.get-started-registration
  display: flex
  flex-wrap: wrap
  padding-bottom: 60px
  &__col
    width: 50%
    +xs()
      width: 100%
    &:first-child
      padding-right: 5%
      +xs()
        padding-right: 0
    &:last-child
      padding-left: 5%
      +xs()
        padding-left: 0