include ../menu/menu

mixin pageMenu
  .page-menu__container
    nav.page-menu
      +menu([
        ['<i class="fas fa-home"></i> home', 'index'],
        ['<i class="far fa-user"></i> account', 'account']
      ])
      +menu([
        ['<i class="fas fa-edit"></i> get started', 'get-started'],
        ['<i class="fas fa-users"></i> freelancers', 'freelancers'],
        ['<i class="far fa-file-alt"></i> news and events', 'news-page'],
        ['<i class="fas fa-map-marker-alt"></i> contact us', 'contact']
      ])