@import "../../styles/variables.styl"

.page-menu
  display flex
  justify-content space-between
  +md()
    flex-direction column
    justify-content flex-start
    padding rem(20px) rem(10px)

  &__container
    z-index 9999
    position fixed
    top 0
    left 0
    width 100%
    background #00796B
    +md()
      min-height 100%
      z-index 0

  .far
  .fas
    display inline-block
    width rem(10px)
    margin-right rem(10px)
