.page-menu
  display flex
  justify-content space-between
  +md()
    flex-direction column
    justify-content flex-start
    min-height 100vh
    padding rem(20px) rem(10px)
  &__container
    z-index 9999
    position fixed
    top 0
    left 0
    width 100%
    background #00796B
    +md()
      z-index 0
