mixin howIt
    .container.how-it
        +subheading('how it works?')
        //p.how-it__title Watch a small video about our exchange
        +player(
        'http://viktoriya-chernenko.tk/video/Landscapes-Volume-Two.mp4',
        'About our awesome company',
        'freelance exchange'
        )