mixin arrow-button({background, direction, isDisabled, size})
  -
    const directionModifiers = {
      left: "left",
      right: "right"
    };

    const defaultDirectionModifier = "right";

    const sizeModifiers = {
      small: "small"
    };

  button.arrow-button(
    class=`arrow-button_${directionModifiers[direction] || defaultDirectionModifier}`
    class=sizeModifiers[size] ? `arrow-button_${sizeModifiers[size]}` : ""
    disabled=isDisabled
  )
    if (directionModifiers[direction] === "left")
      include images/arrow-left.svg
    else
      include images/arrow-right.svg