mixin arrow-button({ background, direction, isDisabled, size })
  -
    const directionModifiers = {
      left: "arrow-button_left",
      right: "arrow-button_right"
    };

    const sizeModifiers = {
      small: "arrow-button_small"
    };

  button.arrow-button(
    class=directionModifiers[direction] || "arrow-button_right"
    class=sizeModifiers[size] || ""
    disabled=isDisabled
  )
    if (direction === "left")
      include images/arrow-left.svg
    else
      include images/arrow-right.svg