include ../../ui-kit-components/arrow-button/arrow-button
include ../../ui-kit-components/button/button

mixin page-nav
  nav.page-nav
    +arrow-button({background: "transparent", direction: "left", size: "small"})
    .page-nav__buttons
      .page-nav__button
        +button({
          text: "1",
          size: "small",
          background: "secondary",
          isVerticallyStretched: true
        })
      .page-nav__button
        +button({
          text: "2",
          size: "small",
          background: "transparent-secondary",
          isVerticallyStretched: true
        })
      .page-nav__button
        +button({
          text: "3",
          size: "small",
          background: "transparent-secondary",
          isVerticallyStretched: true
        })
      .page-nav__button
        +button({
          text: "4",
          size: "small",
          background: "transparent-secondary",
          isVerticallyStretched: true
        })
      .page-nav__button
        +button({
          text: "5",
          size: "small",
          background: "transparent-secondary",
          isVerticallyStretched: true
        })
    +arrow-button({background: "transparent", direction: "right", size: "small"})