.user
  display: flex
  align-items center
  max-width: 300px
  margin: 0 auto
  &__picture-container
    flex-shrink 0
    width: calc(35.5%)
    height: auto
    margin-right: 0.8%
    border: 5px solid light-grey
    border-radius: 50%
    font-size: 0
    overflow: hidden
    &:after
      content: ''
      float: left
      padding-top: 100%
  &__picture
    width: 100%
  &__info
    position: relative
    width: 'calc(63.5% - %s)' % rem(7px)
    margin: 1px 0 0 rem(7px)
    padding: rem(10px) 0 rem(14px)
    border-radius: 10px
    background-color light-grey
    &:after
      content: ''
      position: absolute
      top: 'calc(50% - %s)' % rem(4px)
      left: rem(-5px)
      width: rem(10px)
      height: rem(10px)
      transform rotate(45deg)
      background-color light-grey
    &_bg_secondary
      background-color secondary-color
      &:after
        background-color secondary-color
  &__name
    margin-bottom: rem(3px)
    font-size rem(18px)
    color primary-color
    &_color_white
      color #ffffff
  &__profession
    margin-bottom: rem(12px)
    font-size rem(11px)
    font-weight: 900
    text-transform uppercase
    letter-spacing rem(0.55px)
    color dark-grey
    &_color_white
      color #ffffff
  &__social-icons
    display: flex
    justify-content: space-between
    max-width: rem(94px)
    margin: 0 auto
  &__social-icon
    &_1
      width rem(10px)
      height rem(21px)
      background url("images/FB.png") no-repeat center
      background-size: 100%
      &-white
        background-image: url("images/FB_copy.png")
    &_2
      width rem(25px)
      height rem(20px)
      background url("images/Twitter.png") no-repeat center
      background-size: 100%
      &-white
        background-image: url("images/Twitter_copy.png")
    &_3
      width rem(21px)
      height rem(21px)
      background url("images/Dribbble.png") no-repeat center
      background-size: 100%
      &-white
        background-image: url("images/Dribbble_copy.png")


