@import "../../styles/variables.styl"

.arrow-button
  position relative
  width 50px
  border none
  border-radius 50%
  transition background 0.3s ease
  square()

  &_small
    width 35px

  &_transparent
    border 3px solid secondary-color
    background-color transparent

    &:hover
      background-color secondary-color

    &:focus
      border-color darken(secondary-color, 15%)

    &:hover svg use
    &:disabled svg use
      fill white

    svg
      position absolute
      top 50%
      width 52%
      height 52%
      transform translate(-50%, -50%)

    svg use
      transition all 0.3s ease

  &_left svg
    left 47%

  &_right svg
    left 53%

  &:disabled
    border-color light-grey
    background-color light-grey