include arrow-svg-icon

mixin arrowButton(bg, direction, isDisabled, size)
  button.arrow-button(
    class=bg ? "arrow-button_" + bg : ""
    class=size ? "arrow-button_" + size : ""
    disabled=isDisabled
  )
    +arrowSvgIcon(direction)