@import "../../styles/variables.styl"

.page-footer
  flex-grow 0
  padding rem(40px) rem(10px)
  font-size rem(18px)
  color rgba(white, 0.4)
  background black-background-color

  &__container
    display flex
    flex-wrap wrap
    justify-content space-between
    max-width 1200px
    margin 0 auto

  &__search-container
    margin 0 rem(10px)
    +sm()
      display none

  &__subheading-container
    margin-bottom rem(10px)

  &__menu
    margin 0 rem(20px)
    list-style-type none

    &-container
      +xs()
        padding-bottom rem(20px)
      +xxs()
        width 100%
        &:nth-child(2)
          padding-bottom 0

    &-link
      display inline-block
      margin-bottom rem(10px)
      color rgba(white, 0.4)
      transition all 0.3s ease

      &:hover
      &:focus
        color white

  &__copyright
    margin 0 rem(20px)
    align-self flex-end
    font-size rem(14px)
    +sm()
      align-self flex-start

    &-link
      color rgba(white, 0.4)
      text-decoration none

      &:hover
      &:focus
        text-decoration underline

