.page-footer
  padding: 40px 0
  font-size: 18px
  color: rgba(255, 255, 255, 0.4)
  .subheading
    margin-bottom: 10px
    padding: 0
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__search-container
    margin: 0 10px
    +sm()
      display: none
  &__menu
    margin: 0 20px
    list-style-type: none
    &-container
      +xs()
        padding-bottom: 20px
      +xxs()
        width: 100%
        &:nth-child(2)
          padding-bottom: 0
    &-link
      display: block
      margin-bottom: 10px
      color: rgba(255, 255, 255, 0.4)
      transition all 0.3s ease
      &:hover
        color: #ffffff
  &__copyright
    margin: 0 20px
    align-self: flex-end
    font-size: 14px
    +sm()
      align-self flex-start
