.page-footer
  padding rem(40px) 0
  font-size rem(18px)
  color rgba(255, 255, 255, 0.4)
  .subheading
    margin-bottom rem(10px)
    padding 0
  &__container
    display flex
    flex-wrap wrap
    justify-content space-between
  &__search-container
    margin 0 rem(10px)
    +sm()
      display none
  &__menu
    margin 0 rem(20px)
    list-style-type none
    &-container
      +xs()
        padding-bottom rem(20px)
      +xxs()
        width 100%
        &:nth-child(2)
          padding-bottom 0
    &-link
      display inline-block
      margin-bottom rem(10px)
      color rgba(255, 255, 255, 0.4)
      transition all 0.3s ease
      &:hover
        color #ffffff
  &__copyright
    margin 0 rem(20px)
    align-self flex-end
    font-size rem(14px)
    &-link
      color rgba(255, 255, 255, 0.4)
      text-decoration none
      &:hover
        text-decoration underline
    +sm()
      align-self flex-start
