.freelancers
  padding: 80px 0
  &__container
    display: flex
  &__col
    &:first-child
      width: 25%
      padding-right: 3%
      .subheading
        padding-bottom: 20px
      .slider
        margin: 50px 0 40px
      .button
        width: 100%
    &:last-child
      display: flex
      flex-wrap: wrap
      align-content flex-start
      width: 75%
      padding-left: 3%
  &__subtitle
    font-size: 18px
    margin: 0 10px 20px 0
  &__filter-row
    margin-bottom: 30px
    &_flex
      display: flex
      justify-content: space-between
  &__freelancer
    width: 29%
    margin: 0 2.166666666666667% 60px
    padding-bottom: 10px
    border-bottom: 1px solid light-grey-text
    &-footer
      display: flex
      justify-content: space-between
      align-items: center
      color primary-color
    .button
      margin-left: auto
  .user
    margin-bottom: 10px
  .news-page__nav
    padding: 10px 0 0
    border-top: 1px solid light-grey-text
    &:nth-child(2)
      margin-bottom: 40px
      padding: 0 0 10px
      border-top: 0
      border-bottom: 1px solid light-grey-text



