extends ../../templates/template

include ../../components/title/title
include ../../components/user/user
include ../../components/settings/settings
include ../../components/statistic/statistic
include ../../components/chart/chart

block append meta
  meta(name="keywords", content="Account, account settings, account statistic")
  meta(name="description", content="Create and set up your account on our " +
      "freelancers exchange")

block title
  title Account

block content
  main.account
    .account__col.account__col_left
      .account__title
        +title({ title: "your account", tag: "h1" })
      .account__user
        +user({
          imageSrc: "user-6",
          name: "Peter Brown",
          profession: "developer",
          size: "big"
        })
      .account__title
        +title({ title: "settings", tag: "h2" })
      +settings
    .account__col.account__col_right
      .account__title
        +title({ title: "statistic", tag: "h2" })
      +account-statistic
      .account__title
        +title({ title: "deadlines statistic", tag: "h2" })
      section.account__deadlines
        .account__deadlines-col
          h3.account__deadlines-title Ahead of time
          +chart({type: "percentage", value: 30})
        .account__deadlines-col
          h3.account__deadlines-title On time
          +chart({type: "percentage", value: 70})
        .account__deadlines-col
          h3.account__deadlines-title Expired
          +chart({type: "percentage", value: 0})


