extends ../../templates/template

include ../../components/subheading/subheading
include ../../components/user/user
include ../../components/settings/settings
include ../../components/statistic/statistic
include ../../components/percentage/percentage

block append meta
  meta(name="keywords", content="Account, account settings, account statistic")
  meta(name="description", content="Create and set up your account on our " +
      "freelancers exchange")

block title
  title Account

block content
  main.account
    .account__col.account__col_left
      .account__title-container
        +subheading("your account", "h1")
      +user("user-6", "Peter Brown", "developer", "", "big")
      .account__title-container
        +subheading("settings")
      +settings
    .account__col.account__col_right
      .account__title-container
        +subheading("statistic")
      +account-statistic
      .account__title-container
        +subheading("deadlines statistic")
      section.account__deadlines
        .account__deadlines-col
          h3.account__deadlines-title Ahead of time
          +percentage(30)
        .account__deadlines-col
          h3.account__deadlines-title On time
          +percentage(70)
        .account__deadlines-col
          h3.account__deadlines-title Expired
          +percentage(0)


