include ../player/player

mixin indexHowItWorks
  .container.index-how-it-works
    +subheading('how it works?')
    +player(
      'http://viktoriya-chernenko.tk/video/Landscapes-Volume-Two.mp4',
      'About our awesome company',
      'freelance exchange'
    )