.news-page
  display: flex
  padding: 80px 0
  &__col
    &_size
      &_8
        display: flex
        flex-wrap: wrap
        width: 70%
        .news
          width: 47%
          margin: 0 1.5% 20px
      &_4
        padding: 121px 5% 0 0
        width: 30%
        .subheading
          padding: 0
        .search
          margin-bottom: 40px
  &__nav
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
  &__nav-buttons
    display: flex
    .button
      margin: 0 2px