.player
  position absolute
  width 100%
  height 100%
  top 0
  right 0
  bottom 0
  left 0
  &__wrapper
    position relative
    width 100%
    padding-bottom 56.25%
    border-radius rem(3px)
    background url("images/video.jpg") no-repeat center
    background-size cover
    overflow hidden
  &__header
    position absolute
    top 0
    left 0
    width 100%
    padding rem(26px) rem(39px)
    text-align left
    color #ffffff
    +xxs()
      padding rem(20px)
  &__title
    margin-bottom rem(5px)
    font-size rem(36px)
    font-weight 300
    line-height 1
    letter-spacing rem(-1.08px)
    +xs()
      font-size rem(25px)
    +xxs()
      font-size rem(20px)
      line-height 1
  &__author
    font-size rem(12.5px)
    font-weight 900
    text-transform uppercase
    letter-spacing rem(0.63px)
    +xs()
      font-size rem(10px)
  &__footer
    position absolute
    bottom 0
    left 0
    display flex
    align-items center
    width 100%
    background-color rgba(0, 0, 0, 0.29)
  &__play-button
    flex-shrink 0
    width rem(10px)
    height rem(13px)
    margin 0 rem(19px) 0 rem(21px)
    border 0
    background url("images/play-icon.svg") no-repeat center center;
    background-size rem(10px) rem(13px)
    transition all 0.3s ease
    cursor pointer
    &_playing
      background-image url("images/pause.svg");
  &__progress
    width 100%
    height rem(5px)
    border-radius rem(3px)
    background-color light-grey
    cursor pointer
    &--full
      width 0
      height 100%
      border-radius rem(3px)
      background-color primary-color
  &__full-button
    flex-shrink 0
    width rem(48px)
    height rem(48px)
    margin-left rem(22px)
    border 0
    background primary-color url("images/fullscreen.svg") no-repeat center center
    background-size 47%
    transition all 0.3s ease
    cursor pointer
    &_opened
      background-image url("images/exit-fullscreen.svg")
    +xxs()
      width rem(35px)
      height rem(35px)