.news-and-events__row
  display: flex
  flex-wrap wrap
  .subheading
    margin: 58px 0 23px

.news-and-events__col
  flex-shrink 0
  width: 50%
  &:nth-child(2)
    padding-right: 1.75%
  &:nth-child(3)
    padding-left: 1.75%
  +xs()
    width: 100%
    &:nth-child(2)
      margin-bottom: rem(40px)
    &:nth-child(2)
    &:nth-child(3)
      padding: 0