.news-and-events__row
  display: flex
  flex-wrap wrap
  .subheading
    margin: 58px 0 23px

.news-and-events__col
  flex-shrink 0
  width: 50%
  &:nth-child(2)
    padding-right: 10px
  &:nth-child(3)
    padding-left: 10px