@import "../../styles/variables.styl"

.toggle
  display inline-block
  width rem(60px)
  height rem(24px)
  border-radius rem(34px)
  overflow hidden
  text-align: center

  &__input
    display: none

    &:checked + .toggle__switch
      background-color secondary-color

    &:checked + .toggle__switch
      transform translate(0, 0)

  &__switch
    display inline-block
    width rem(101px)
    height 100%
    cursor pointer
    top 0
    background-color light-grey
    transform translate(rem(-35.5px), 0)
    transition .4s

  &__switch

    &-text
      display inline-block
      vertical-align middle
      padding rem(5px) rem(7px)
      font-size rem(12px)
      letter-spacing rem(0.6px)
      text-transform uppercase
      color #ffffff

      &:last-child
        padding rem(5px) rem(9px) rem(5px) rem(5px)

    &-round
      display inline-block
      vertical-align middle
      height rem(18px)
      width rem(18px)
      border-radius 50%
      background-color white
      transition .4s

