mixin toggle(isChecked, isDisabled)
  label.toggle
    input.toggle__input(
        type="checkbox", checked=isChecked, disabled=isDisabled
      )
    span.toggle__switch
      span.toggle__switch-text on
      span.toggle__switch-round
      span.toggle__switch-text off