@import "../../styles/variables.styl"

.toggle
  display inline-block
  width 60px
  height 24px
  border-radius 34px
  overflow hidden
  text-align: center

  &__input
    display: none

    &:checked + .toggle__switch
      background-color secondary-color

    &:checked + .toggle__switch
      transform translate(0, 0)

  &__switch
    display inline-block
    width 101px
    height 100%
    cursor pointer
    top 0
    background-color light-grey
    transform translate(-35.5px, 0)
    transition .4s

  &__switch

    &-text
      display inline-block
      vertical-align middle
      padding 5px 7px
      font-size 12px
      letter-spacing 0.6px
      text-transform uppercase
      color white

      &:last-child
        padding 5px 9px 5px 5px

    &-round
      display inline-block
      vertical-align middle
      height 18px
      width 18px
      border-radius 50%
      background-color white
      transition .4s

