extends layout.pug

include index/main-menu/main-menu
include wrapper/subheading/subheading
include wrapper/standart-buttons/button/button
include wrapper/search-dropdown-user/user/user
include wrapper/form-elements/tick-box/tick-box
include wrapper/form-elements/toggle/toggle
include wrapper/sliders/slider/slider
include account/settings/settings
include account/statistic/statistic
include account/deadlines-statistic/deadlines-statistic
include index/footer/footer

block content
    .container.account-container
        .account__col
            +subheading('your account')
            +user('user-2', 'John Smith', 'UX DESIGNER', '', 'big')
            +subheading('settings')
            +settings
        .account__col
            +subheading('statistic')
            +statistic
            +subheading('deadlines statistic')
            +deadlinesStatistic
    .background-container
        +footer
