include ./head
include index/mobile-menu/mobile-menu
include index/main-menu/main-menu

doctype html
html
    +head
    body
        +mainMenu
        .body-wrapper
            +mobileMenu
            block content