include ./head
include index/mobile-menu/mobile-menu
include index/main-menu/main-menu
include message/message

doctype html
html
    +head
    body
        +mainMenu
        +mobileMenu
        .body-wrapper
            block content
        +message