extends layout.pug

include index/header/header
include wrapper/subheading/subheading
include wrapper/standart-buttons/button/button
include wrapper/form-elements/toggle/toggle
include index/tariff-plan/tariff-plan
include wrapper/video/player/player
include index/how-it/how-it
include wrapper/news-and-events/news/news
include index/news/news

block content
    +header
    .container
        +subheading('choose your tariff plan')
        +tariffPlan
    .background-container
        +howIt
    .container
        +indexNews




