extends layout.pug
include index/main-menu/main-menu
include index/footer/footer
include wrapper/subheading/subheading
include wrapper/news-and-events/news/news
include wrapper/calendar-and-messaging/calendar/calendar
include wrapper/search-dropdown-user/search/search
include wrapper/arrow-buttons/arrow-button/arrow-button
include wrapper/standart-buttons/button/button

block content
    .container
        .news-page
            .news-page__col.news-page__col_size_4
                +subheading('search news')
                +search('Search...')
                +calendar
            .news-page__col.news-page__col_size_8
                +subheading('news')
                +news(
                    'news-3',
                    'Top 5 professions in freelance',
                    '24  NOVEMBER  2018',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                    'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                    'nunc, a tincidunt eros.'
                )
                +news(
                    'news-7',
                    'How to prepare for an interview',
                    '23  NOVEMBER  2018',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                    'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                    'nunc, a tincidunt eros.'
                )
                +news(
                    'news-4',
                    'Work without leaving home',
                    '22  NOVEMBER  2018',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                    'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                    'nunc, a tincidunt eros.'
                )
                +news(
                    'news-5',
                    'What the designer should know',
                    '21  NOVEMBER  2018',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                    'elit. Sed condimentum aliquet venenatis. Etiam a nisi ' +
                    'nunc, a tincidunt eros.'
                )
                .news-page__nav
                    +arrowButton('transparent-secondary', 'left-secondary', false, 'small')
                    .news-page__nav-buttons
                        +button('1', 'small', 'secondary')
                        +button('2', 'small', 'transparent-secondary')
                        +button('3', 'small', 'transparent-secondary')
                        +button('4', 'small', 'transparent-secondary')
                        +button('5', 'small', 'transparent-secondary')
                    +arrowButton('transparent-secondary', 'right-secondary', false, 'small')
                +subheading('upcoming events')
                +news(
                    'news-6',
                    'javascript webinar',
                    ['27', 'Jan'],
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    true
                )
                +news(
                    'news-8',
                    'open your own business',
                    ['22', 'Jan'],
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    true
                )
                +news(
                    'news-9',
                    'web design workshop',
                    ['14', 'Jan'],
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    true
                )
                +news(
                    'news-10',
                    'get a new profession',
                    ['10', 'Jan'],
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    true
                )
                .news-page__nav
                    +arrowButton('transparent-secondary', 'left-secondary', false, 'small')
                    .news-page__nav-buttons
                        +button('1', 'small', 'secondary')
                        +button('2', 'small', 'transparent-secondary')
                        +button('3', 'small', 'transparent-secondary')
                        +button('4', 'small', 'transparent-secondary')
                        +button('5', 'small', 'transparent-secondary')
                    +arrowButton('transparent-secondary', 'right-secondary', false, 'small')
    .background-container
        +footer