mixin map
  .map__container
    .map
    .map__footer
      span.map__title Meet us!
      .map__adress
        p.map__adress-text 1259  California St
        p.map__adress-text San Francisco, CA
      .map__buttons
        button.map__geolocation
        button.map__add