mixin map
  .map__container
    .map
    .map__footer
      span.map__title Meet us!
      .map__adress
        p.map__adress--span 1259  CALIFORNIA ST
        p.map__adress--span San Francisco, CA
      .map__buttons
        button.map__geolocation
        button.map__add