mixin map({state, city})
  .map.js-map
    .map__body.js-map__body
    .map__footer
      span.map__title Meet us!
      .map__adress
        p.map__text= state
        p.map__text= city
      .map__buttons
        button.map__button.map__button_with-geolocation.js-map__button_with-geolocation
          include location.svg
        button.map__button.map__button_with-marker.js-map__button_with-marker
          include white-map-marker.svg