@import "../../styles/variables.styl"

.map
  border-radius 3px
  overflow hidden

  &__body
    rectangle(34)

    +xs()
      &:before
        padding-top 60%

    +xxs()
      &:before
        padding-top 100%

  &__footer
    display flex
    align-items center
    padding 12px 23px 18px 29px
    color white
    background-color primary-color

    +xxs()
      flex-wrap wrap
      justify-content space-between

  &__title
    flex-shrink 0
    font-size 30px
    font-weight 300

  &__adress
    min-width 0
    margin 7px 0 0 1.5%

    +xxs()
      order 3
      width 100%
      margin-left 0

  &__text
    margin 0 15px 1px
    font-size 13px
    letter-spacing 0.63px
    text-transform uppercase
    break-word()

    +xxs()
      display inline
      margin 0

  &__buttons
    display flex
    align-items center
    margin 8px 0 0 auto

  &__button
    flex-shrink 0
    border none
    background transparent

    &:hover svg
    &:focus svg
      opacity 0.8

    svg
      transition all 0.3s ease

  &__geolocation-button
    width 27px
    height 26px
    margin 0 16px 0 0

    +xs()
      margin-right 7px

    +xxs()
      margin-right 5px

  &__add-button
    width 27px
    height 24px

    svg
      height 100%