.map
  border-radius rem(3px)
  overflow hidden
  &__body
    rectangle(34)
    +xs()
      &:before
        padding-top 60%
    +xxs()
      &:before
        padding-top 100%
  &__footer
    display flex
    align-items center
    padding rem(12px) rem(23px) rem(18px) rem(29px)
    color #ffffff
    background-color primary-color
    +xxs()
      flex-wrap wrap
      justify-content space-between
  &__title
    flex-shrink 0
    font-size rem(30px)
    font-weight 300
  &__adress
    min-width 0
    margin rem(7px) 0 0 1.5%
    +xxs()
      order 3
      width 100%
      margin-left 0
  &__text
    margin 0 rem(15px) rem(1px)
    font-size rem(13px)
    letter-spacing rem(0.63px)
    text-transform uppercase
    break-word()
    +xxs()
      display inline
      margin 0
  &__buttons
    display flex
    align-items center
    margin rem(8px) 0 0 auto
  &__button
    flex-shrink 0
    border none
    background transparent
    &:hover svg
    &:focus svg
      opacity 0.8
    svg
      transition all 0.3s ease
  &__geolocation-button
    width rem(27px)
    height rem(26px)
    margin 0 rem(16px) 0 0
    +xs()
      margin-right rem(7px)
    +xxs()
      margin-right rem(5px)
  &__add-button
    width rem(27px)
    height rem(24px)
    svg
      height 100%