include ../calendar/calendar
include ../messaging/messaging

mixin uiKitCalendarAndMessaging
  section.ui-kit-calendar-and-messaging
    .ui-kit-calendar-and-messaging__col
      +subheading("calendar")
      +calendar
    .ui-kit-calendar-and-messaging__col
      +subheading("messaging")
      +messaging("photo")