.ui-datepicker-year
  display: none

.ui-widget.ui-widget-content
  width: 100%
  padding: 0
  border: none
  font-family Lato

.ui-datepicker table
  margin: 0

.ui-datepicker-calendar thead
  border-radius: 0
  font-size 9px
  font-weight: 400
  text-transform uppercase
  letter-spacing 0.45px
  background-color primary-color
  color #ffffff

.ui-datepicker th
  padding: 10px 0 8px
  font-weight: 400

.ui-datepicker td span, .ui-datepicker td a
  height: 100%
  padding: 8px 0 0
  text-align: center
  font-family 'Source Sans Pro'
  font-size: 20px

.ui-datepicker .ui-datepicker-title
  order: 1
  width: 70%
  margin: 0
  padding: 0
  font-size 24px
  font-weight 300
  line-height: 1em
  color #ffffff
  white-space: nowrap

.ui-datepicker .ui-datepicker-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px 0
  border: none
  border-radius: 0
  background-color darker-primary-color

.ui-helper-clearfix:before,
.ui-helper-clearfix:after
  display: none

.ui-widget-header .ui-icon
  display: block
  width: 100%
  height: 100%
  background: none

.ui-widget-header .ui-icon.ui-icon-circle-triangle-e
  margin: 0
  position: static
  background: url("images/Arrow_Right.svg") no-repeat center center
  background-size: 37%

.ui-widget-header .ui-icon.ui-icon-circle-triangle-w
  margin: 0
  position: static
  background: url("images/Arrow_Left.svg") no-repeat center center
  background-size: 37%

.ui-datepicker .ui-datepicker-prev
.ui-datepicker .ui-datepicker-next
  position: static
  cursor: pointer
  width: 10%

.ui-datepicker .ui-datepicker-prev
  margin: 2px 0 0 9px

.ui-datepicker .ui-datepicker-next
  order: 2
  margin: 2px 9px 0 0

.ui-datepicker .ui-datepicker-prev-hover
.ui-datepicker .ui-datepicker-next-hover
  background: none
  border: none
  position: static

.calendar
  background-color #f2f2f2
  &-container
    border-radius: 5px
    overflow: hidden
  td
    width: 14.28571428571429%
    position: relative
    overflow: hidden
    background-color #f2f2f2
    border: 1px solid #fff
    &:hover
      background-color lightness(primary-color, 75%)
      .ui-state-default
        color: #ffffff
    &:before
      content: ''
      float: left
      padding-top: 100%
  .ui-state-default
    background: none
    border: none
    color #868686
    &.ui-state-highlight
      color: #ffffff
  .ui-state-disabled
    opacity: 1
    color: #ffffff
  .ui-state-active
    color: #ffffff
  .ui-datepicker-current-day
    background-color lightness(primary-color, 75%)
    color: #ffffff
  .ui-datepicker-today
    color: #ffffff
    background-color primary-color
    &:hover
      background-color primary-color
    .ui-state-active
      color #ffffff
  &__header
    padding: 10px 0 8px
    font-size 80px
    font-weight 300
    letter-spacing -3.2px
    color #ffffff
    background-color primary-color
  &__footer
    padding: 17px 20px
    font-size 13px
    font-weight: 700
    text-transform uppercase
    text-align: left
    letter-spacing 0.65px
    color #868686
    background-color light-grey