@import "../../styles/variables.styl"

.slider

  &.ui-slider
    height rem(5px)
    background-color light-grey
    border 0

  .ui-slider-handle
    top 50%
    width rem(20px)
    height rem(20px)
    border-radius 50%
    background primary-color
    border 0
    cursor pointer
    transform translate(0, -50%)
    transition background 0.3s ease

    &:hover
    &:focus
    &:hover .slider__tip
    &:focus .slider__tip
      background darker-primary-color

  &_secondary .ui-slider-range
  &_secondary .ui-slider-handle
    background secondary-color

    &:hover
    &:focus
      background darker-secondary-color

  &__tip
    position absolute
    top rem(-8px)
    left 50%
    transform translate(-50%, -100%)
    padding rem(5px) rem(10px) rem(5px)
    border-radius 5px
    font-size rem(13px)
    text-align center
    letter-spacing rem(0.65px)
    font-family "Lato", "Arial", sans-serif
    color #fff
    background primary-color
    cursor pointer
    transition background 0.3s ease

    &:after
      content ""
      position absolute
      bottom 0
      left 50%
      width rem(7px)
      height rem(7px)
      background primary-color
      transform translate(-50%, 50%) rotate(45deg)

  &__scale
    display flex
    justify-content space-between
    margin-top rem(10px)
    list-style-type none
    font-size rem(11px)
    letter-spacing rem(0.55px)
    color light-grey-text

    &-item
      width rem(20px)






