@import "../../../styles/variables.styl"

.toggle
  display inline-block
  width 60px
  height 24px
  border-radius 34px
  overflow hidden
  text-align: center

  &__input
    display: none

    &:checked + ^[0]__switch
      background-color secondary-color

    &:checked + ^[0]__switch
      transform translate(0, 0)

  &__switch
    display inline-block
    width 106.5px
    height 100%
    cursor pointer
    top 0
    background-color light-grey
    transform translate(-35.5px, 0)
    transition .4s

  &__switch
    text-align center
    &-text
      display inline-block
      vertical-align middle
      padding-right 7px
      font-size 12px
      letter-spacing 0.6px
      text-transform uppercase
      color white

      &:last-child
        padding-left 5px

    &-round
      display inline-block
      vertical-align middle
      height 18px
      width 18px
      margin 3px 0
      border-radius 50%
      background-color white
      transition .4s

